[2020-06-25 15:28] maleadt commented on #249
It's probably caused by https://github.com/maleadt/LLVM.jl/pull/188, where we switched from `ccall`ing with an absolute path to the library to `ccall((fun, :libLLVM))`, but I'm failing to see how that would cause everything to break since `dlpath(libLLVM)` points the absolute path we used previously.

That said, it's a bit strange that `libLLVM` is listed twice in `Libdl.dllist`, once with and onc

[2020-06-25 15:34] maleadt commented on #249
OH, `InitializeAllTargets` is part of the LLVM extras API, i.e. that which we access through `libjulia`! So the call to `InitializeAllTargets` initialized the targets in the LLVM library that was loaded by Julia, and not the unversioned one which here was loaded separately (`libLLVM` vs `libLLVM-9jl`). That also means https://github.com/maleadt/LLVM.jl/pull/188 is fundamentally invalid and will ne

[2020-06-25 15:47] maleadt commented on #249
So summarizing: `dlopen(:libLLVM)` on @Roger-luo's system resolves to the `libLLVM.so` symlink, and not its `libLLVM-9jl.so` target. This causes `ccall((fun, :libLLVM))` to end up in a different library than the calls to `libjulia` which internally call the `libLLVM` julia was linked to (which should really just be the same library, but apparently the linker can get confused here).

All this isn't

[2020-06-25 16:52] songxianxu commented on #249
I am not sure if this is related. I was using both CuArrays.jl and CUDA.jl (not simultaneously) and I have the same issue today with Julia 1.4.2. It was fine on Monday. I realized that if I downgrade my LLVM to v1.5.2 via add LLVM@1.5.2, things are resolved. Perhaps thew new PR with LLVM v1.6.0 has something to do with this? (I realized that it was releasaed 3 days ago). This seems to explain why

[2020-06-25 17:44] staticfloat commented on #249
I'm a little unclear on what the issue is; are you saying that we're getting two identical copies of the same library loaded, depending on what path you access it from?

[2020-06-25 19:07] maleadt commented on #249
Yes, and the `Libdl.dllist()` above seems to confirm that, listing both `libLLVM.so` and `libLLVM-9jl.so`, even though the former should be a symlink to the latter.

[2020-06-25 19:08] maleadt commented on #249
@Roger-luo @songxianxu Which Linux distributions are you using?

[2020-06-25 19:14] Roger-luo commented on #249
I'm using Ubuntu 20.04.

[code]

[2020-06-25 19:19] Roger-luo commented on #249
@maleadt you are right, I think this is caused by that PR indeed - this explains why it stop working in my local environment first then affect the global shared environment afterwards, it simply because **I updated my dependencies** lol.

By downgrade LLVM.jl to previous version (v1.5.2), CUDA.jl works now.

[2020-06-25 19:49] songxianxu commented on #249
I was using both Manjaro and Ubuntu.

@Roger-luo Are you doing all the test via distributions installed by [jill](https://github.com/johnnychen94/jill.py)?

I just realized that if I have fresh copy of 1.4.2 download from the official site, I cannot reproduce this problem anymore with the same environments. It might be a problem of the unpacking due to jill.

Updates:
It seems that if you installe

[2020-06-25 19:58] staticfloat commented on #249
I can't reproduce this on my machine:

[code]

This is on an Ubuntu machine, and happens both with the latest `master` and with the official 1.4.2 binaries.  (Although with 1.4.2, it loads LLVM 8, not LLVM 9, of course).

[2020-06-25 19:59] staticfloat commented on #249
That makes perfect sense.  That would cause this problem.

[2020-06-25 21:16] Roger-luo commented on #249
Ah I could confirm that the `libLLVM.so` is no longer a symlink but the same copy of `libLLVM-9jl.so`. This is strange, what `jill` does should only be downloading the official release and unpacking it with `tar`. @johnnychen94 any thoughts?

[2020-06-25 21:16] johnnychen94 commented on #249
Sorry for the trouble, I didn't know that these libs should be symlinks when I wrote jill.

The symlink issue should be fixed in https://github.com/johnnychen94/jill.py/commit/f4f7edc4c94838f6a525919fbaf14b2ce0d64df9 and jill v0.6.14 (will make a release once the CI passes)

[2020-06-25 21:17] Roger-luo commented on #249
I'll close this issue here then. Thanks for the quick fix @johnnychen94

[2020-06-25 21:17] #249 closed, assigned to nobody

[2020-06-25 23:02] staticfloat commented on #249
Quick resolution all around! Great work, everybody!

[2020-06-27 21:03] clintonTE opened #254 "Error while freeing CUDA.CuPtr"
**Describe the bug**

I seem to be getting this error/warning about 1 out of 3 times that I run the code. The location in my code where the error appears seems arbitrary. From the error message, I tried to manually invoke gc, but that didn't help with reliably reproducing. I am open to suggestions as to how to better isolate this.

[code]

**To reproduce**

The Minimal Working Example (MWE) for th

[2020-06-28 15:02] GiggleLiu opened #255 "CURAND fail to initialize, code 203"
[code]

## Environment
Julia 1.5, CUDA#master

[2020-06-28 19:31] Ellipse0934 commented on #246
I am able to reproduce this.
The error is coming from [test/examples.jl](https://github.com/JuliaGPU/CUDA.jl/blob/master/test/examples.jl#L16).
[code]

The simple fix is to do `@test success(pipeline(`$cmd --startup-file=no $example`, stderr=stderr))`

However, `test/execution.jl` will also fail which needs a modification in `julia_script` in `setup.jl`. You can file a PR if you want or I'll have

[2020-06-28 22:43] clintonTE opened #256 "CuSparseMatrixHYB * CuMatrix = nothing"
**Describe the bug**

Multiplying a matrix of type CuSparseMatrixHYB by a dense matrix returns nothing.

**To reproduce**

[code]

Output:
[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**
x : x ∈ ℝ

**Version info**
[code]

Details on CUDA:

[code]

[2020-06-29 12:26] mcabbott commented on #228
Thanks for having a look, haven't got back to this.

Re tooling, I was wondering whether `cu` shouldn't be overloaded so that `cu.(arrays...)` changes the broadcast. Something similar was done by LazyArrays, with `lazy.(x .+ y)` delaying materialization. (It started roughly here: https://github.com/JuliaLang/julia/issues/19198#issuecomment-457967851 )

But I also wonder why broadcasting can't see

[2020-06-29 16:12] maleadt opened #259 "CUSPARSE tests broken"
https://gitlab.com/JuliaGPU/CUDA.jl/-/jobs/615900224

This only surfaces on 1.5-rc1 because of the backport of https://github.com/JuliaLang/julia/pull/36046 (there's a `MethodError` thrown that confuses the stack of testsets).

[2020-06-29 16:18] maleadt commented on #259
[code]

[2020-06-30 05:47] maleadt commented on #259
Caused by https://github.com/JuliaGPU/CUDA.jl/pull/210, I reverted the commit for now.

[2020-06-30 12:56] maleadt commented on #259
Also noticed this one:

[code]

Looks like a tolerance issue. Bumped it on the master branch.

EDIT: I have to bump the rtol to 1e-2, which seems wrong, and at that point it fails with a SingularException later:

[code]

I don't really know what I'm doing here, so I'd appreciate @kshyatt or somebody else chiming in :-)

[2020-06-30 16:26] maleadt opened #261 "Broadcasting a datatype does not work"
[code]

With normal kernel functions, the type is passed naked and left out by codegen.

[2020-06-30 17:26] clintonTE opened #262 "Non-artifact initialization of CUDA.jl using CUDA 11 fails on Windows"
First discussed in the Slack channel. This bug does not affect artifact installations. For a local installation, CUDA.jl looks for `$name_$majorversion` when seeking CUDA files (I think from the code this is only true on Windows?).

Unfortunately, the latest version of CUDA (11) includes a mix of files with a major release of 10 and 11. In my case, the installation failed on cuSOLVER. You can see

[2020-06-30 20:07] maleadt commented on #262
Try adding v11.0 here: https://github.com/JuliaGPU/CUDA.jl/blob/a58ddf7092413a4da6f9bddfb6cbd4d28cdfd8b3/deps/discovery.jl#L155-L164

EDIT: ah no the v10-versioned ones won't be discovered.

[2020-06-30 23:18] andreasKroepelin opened #263 "Strange reordering of struct fields with dynamic parallelism"
Values of types that are `isbits` can be given as arguments to kernel functions.
However, I noticed that there is some strange behaviour for structs with many fields.
This should suffice to reproduce the behaviour:
[code]
Now, executing `host1()` yields
[code]
while `host2()` yields
[code]
So `host1` which calls `child!` directly works as expected, and `host2` which calls `parent!` which calls `ch

[2020-07-01 06:56] maleadt commented on #263
Interesting, thanks for the clear repro! Generated code looks OK, so this is probably the kernel launch buffers being badly populated. Also reproduces with a simple `NTuple{8,Int}`, as expected.

[2020-07-01 11:54] maleadt opened #264 "Library handle creation close to OOM fails with ERROR_NOT_INITIALIZED"
We have a fix for CUDNN handle creation failing with NOT_INITIALIZED, but it turns out all libraries can misreport failed allocations like that: https://gitlab.com/JuliaGPU/CUDA.jl/-/jobs/619182782, https://github.com/tensorflow/tensorflow/issues/5354

[2020-07-01 17:15] clintonTE commented on #262
Yeah, from the debug output it successfully found the v11 files without specifically adding v11 to the list- the v10 files are where it fails.

[2020-07-01 18:09] Ellipse0934 opened #265 "Add Statistics functions"
As mentioned by user ogiod on discourse [here](https://discourse.julialang.org/t/statistics-functions-on-gpu/42245) we still lack some statistical functions.

We still need to implement

- [x] `cor`
- [x] `cov`
- [ ] `median` : Scalar operation when dims is mentioned
- [ ] `middle` : Implement extrema function
- [ ] `quantile` : Probably need sort for this

Base's Statistics can be found here : [h

[2020-07-02 06:19] maleadt opened #267 "Make Ref pass by-reference"
[code]

[code]

[code]

Could be useful to work around parameter state space size restrictions like https://github.com/CliMA/Oceananigans.jl/pull/746. But might pessimize Broadcast operations where Ref is commonly used.

[2020-07-02 11:18] maleadt commented on #228
That's an interesting thought! I'm wary of overloading `cu` though, I have been mainly stripping if of its features to make code somewhat more explicit (it used to perform much more conversions, you could do stuff like `cu[1,2]`, etc), but for broadcast it might make sense.

[2020-07-02 11:27] maleadt commented on #255
Repro? Or any more details? Did this happen close to OOM? If so, https://github.com/JuliaGPU/CUDA.jl/pull/268 will help.

[2020-07-02 11:30] maleadt commented on #246
Dup of https://github.com/JuliaGPU/CUDA.jl/pull/182, fixed by https://github.com/JuliaGPU/CUDA.jl/pull/184.

[2020-07-02 11:30] #246 closed, assigned to nobody

[2020-07-02 11:40] maleadt commented on #254
I take it you are using multiple threads?

[2020-07-02 12:23] maleadt commented on #254
If so, could you check if https://github.com/JuliaGPU/CUDA.jl/pull/25 helps?

[2020-07-02 16:06] maleadt commented on #250
Fixed by https://github.com/JuliaGPU/CUDA.jl/pull/258

[2020-07-02 16:06] #250 closed, assigned to nobody

[2020-07-02 16:09] maleadt commented on #247
The tests should just check device limits, should be an easy fix.

[2020-07-02 16:10] maleadt commented on #238
@NoelAraujo Did you find out which API call you need? I'm not too familiar with the library myself. But seeing how this isn't a bug, I think I'll close this.

[2020-07-02 16:10] #238 closed, assigned to nobody

[2020-07-02 16:11] #222 closed, assigned to nobody

[2020-07-02 16:12] maleadt commented on #183
https://github.com/JuliaGPU/CUDA.jl/pull/244

[2020-07-02 16:12] #183 closed, assigned to nobody

[2020-07-02 16:29] andreasKroepelin commented on #263
For anybody stumbling over this, who also needs to pass many parameters to a kernel using dynamic parallelism:
I ended up defining all parameters as global constants.
This has several drawbacks (most importantly, you can't change them using Revise.jl), but it works.
Just passing them as individual arguments to the kernel did not work either, at least I got an error when using too many arguments.

[2020-07-02 16:37] mcabbott commented on #228
OK, right I don't know if `cu` is perfect, but it might be neat.

For the original issue here, https://github.com/mcabbott/TensorCast.jl/issues/25, the ideal logic would be something that digs through wrappers, and returns an Array or a CuArray depending on what it sees.

But the other use is broadcasting over things like ranges or CartesianIndices, in which case it cannot guess, you will have to

[2020-07-04 00:13] charleskawczynski commented on #262
I think I'm running into this too, [here](https://gist.github.com/charleskawczynski/115c21698499aab1b4b71b3e9e80ec41) is a gist of the error I'm seeing.

[2020-07-04 02:20] clintonTE commented on #254
Interesting- I had avoided multithreading the CPU with code using device arrays, but your comment made me double-check how some of my methods were dispatching. Turns out I was accidentally dispatching to a multi-threaded method intended for the CPU version. Fixing the dispatching got rid of the error- thanks!

To test #25 I intentionally dispatched to the threaded loop in question. The PR seemed t

[2020-07-04 02:20] #254 closed, assigned to nobody

[2020-07-04 08:32] #264 closed, assigned to nobody

[2020-07-05 08:43] CarloLucibello opened #271 "has(::TargetIterator, name::String) deprecation warning"
On Flux master, after [moving to CUDA.jl](https://github.com/FluxML/Flux.jl/pull/1258), I get the following warning when `using Flux`:
[code]
This doesn't happen when only `using CUDA`, but I can't trace the origin of this warning in Flux's code.

[2020-07-05 10:55] maleadt commented on #271
Depwarns aren't issues... Besides, this is "fixed" on master already. The warning will be gone in the next version.

[2020-07-05 10:55] #271 closed, assigned to nobody

[2020-07-06 16:36] #262 closed, assigned to nobody

[2020-07-07 18:00] denizyuret opened #277 "Deprecation warnings"
Not sure how important these are, just copying some warnings I got when switching Knet to CUDA.jl:

[code]

[code]

[2020-07-07 20:21] maleadt commented on #277
These are fixed on the latest version.

[2020-07-07 20:21] #277 closed, assigned to nobody

[2020-07-07 20:21] maleadt commented on #271
@CarloLucibello This should be now be available in a tagged release, v1.1.

[2020-07-07 20:54] denizyuret opened #278 "Can we pleeeeeeeease make cu(x) eltype preserving?"
Automatically converting to Float32 is fraught with potential dangers for unexpecting users and it is not necessary or that useful. Julia users are used to being careful about their element types, and this design decision does not match the Julia spirit. Float32 is not that special and will be less so in the future: scientific applications may want Float64, many architectures, e.g. V100 supports i

[2020-07-07 21:25] denizyuret opened #279 "On the use of @sync during benchmarking in the documentation"
The documentation suggests: you need to ensure the GPU is synchronized at the end of every sample, e.g. by calling synchronize(). However this is generally overkill -- the overhead from @sync can be at the same order of magnitude as the actual cost of the kernel call or even higher which makes the measurement highly inaccurate. I usually end up calling @sync every N kernel calls to mitigate this.

[2020-07-08 06:09] maleadt commented on #278
`cu` is bad, yes, and I've reduced its scope in the past already. That often turned out hugely breaking (e.g., with users using functions that are only defined for Float32), so I'm not inclined to extend that to dropping the `Float32` conversion.

Would be happy to create an alternative function that does not do the conversion. Or better yet, have `adapt(CuArray, x)` work without conversion (which

[2020-07-08 06:14] maleadt commented on #279
Interestingly, `@sync` is slower than the coarse `synchronize`, even though it's supposed to be a much more find-grained operation:

[code]

That said, this would require integration with BenchmarkTools to sync every sample, and not every evaluation. I don't see what to suggest users they can do differently; not suggesting to use `@sync` at all is strictly worse (and I've seen lots of user reports

[2020-07-08 10:55] denizyuret commented on #279
OK, here are some experiments, the median time seems pretty stable. I typically use the last option to amortize the sync cost for more accuracy in smaller ops.
[code]

[2020-07-08 11:44] maleadt commented on #279
Are you using the correct `@sync`? It needs to be `CUDA.@sync`. That minimum time seems invalid.

[2020-07-08 14:57] denizyuret commented on #279
You are right, I replaced @sync with CUDA.@sync above and results make more sense. Some observations:
1. Without sync, the minimum does not make sense but the median does: ~540 μs
2. With CUDA.@sync the overhead seems to be high: ~300 μs
3. With synchronize() the overhead is still there but much smaller: ~20 μs
4. It is possible to eliminate this overhead using synchronize once every N trials, amo

[2020-07-08 15:13] denizyuret commented on #278
Makes sense. I am indifferent between the alternative function or the `adapt` solution, as long as there is a concise way to move arrays and structs to gpu without changing the eltype.

[2020-07-08 15:15] maleadt commented on #279
See the linked PR.

That requires BenchmarkTools.jl integration. Not sure it's worth the effort to save on 600ns of overhead (on my system).

[2020-07-08 17:45] #279 closed, assigned to nobody

[2020-07-08 19:24] #278 closed, assigned to nobody

[2020-07-09 23:09] jeffcbecker opened #282 "Example in Multiple GPUs doc fails"
**Describe the bug**

A clear and concise description of what the bug is.

Tried to run first example in https://juliagpu.gitlab.io/CUDA.jl/usage/multigpu/ and it fails
**To reproduce**
[code]
The Minimal Working Example (MWE) for this bug:

[code]
Paste your Manifest.toml here, or accurately describe which version of CUDA.jl and its dependencies (GPUArrays.jl, GPUCompiler.jl, LLVM.jl) you are usi

[2020-07-10 03:11] kshyatt commented on #282
Fixed the backticks so code should be a little more readable

[2020-07-10 03:12] kshyatt commented on #259
Now that the CUTENSOR stuff is passing I can take a swing at this

[2020-07-10 03:39] kshyatt commented on #220
Hello @marius311 and @irhum, I can try to take a crack at this.

[2020-07-10 03:48] kshyatt commented on #259
Hmm just rebased the original branch on top of `master` and can't provoke the failure? On the other hand the original tests passed too...

[2020-07-10 04:22] kshyatt commented on #134
Is this still reproducible?

[2020-07-10 04:26] kshyatt commented on #133
FWIW when I try to run this MWE now:
[code]

Which seems like a reasonable error to throw? Can we close this?

[2020-07-10 05:58] maleadt commented on #259
So you can't reproduce the `sv2` MethodError either? These seem to happen in the CI of https://github.com/JuliaGPU/CUDA.jl/pull/283.

For the `csrlsvchol` one, I thought I had disabled the tests but apparently not, so maybe that failure was due to something else...

[2020-07-10 06:00] maleadt commented on #134
CUDNN 6 is not supported or tested -- we should detect that situation and mention that only 7.6 or whatever is supported.

[2020-07-10 06:15] maleadt commented on #282
Should include `@everywhere using CUDA`

[2020-07-10 06:16] #282 closed, assigned to nobody

[2020-07-10 06:17] maleadt commented on #133
Yup, that seems entirely reasonable to me!

[2020-07-10 06:17] #133 closed, assigned to nobody

[2020-07-10 08:35] #134 closed, assigned to nobody

[2020-07-11 10:58] lawless-m opened #286 "LLVM error: Cannot cast between two non-generic address spaces"
I get lots of these errors when running the pkg tests

It's the Julia pkg as checked out on POP_OS! - Julia 1.4

[code]

... snip many more, this is the last one in the list ...

[code]

[2020-07-11 20:19] maleadt commented on #286
Pop OS must not be using our patched LLVM; that's an unsupported configuration. Please use the official binaries and/or mention to the Pop OS maintainers that they should use our version of LLVM.

[2020-07-11 20:19] #286 closed, assigned to nobody

[2020-07-12 07:46] maleadt commented on #286
Added a note about that here: https://github.com/JuliaGPU/CUDA.jl/commit/902b53e1ab78bc75623a8b35e5e82aab231390c4

Also, please use triple quotes to delimit output when filing an issue, makes everything much more legible.

[2020-07-13 13:36] GiggleLiu commented on #255
Sorry for the late reply. I checked the current version v1.1. It is fixed. Thanks!

[2020-07-13 13:36] #255 closed, assigned to nobody

[2020-07-14 16:19] vchuravy opened #292 "Task switch not allowed from inside staged nor pure functions"
As seen in https://github.com/JuliaGPU/KernelAbstractions.jl/issues/110#issuecomment-657911050, the `@error` call can cause a task-switch in a generated function

https://github.com/JuliaGPU/CUDA.jl/blob/ebc074262a5e88f9c596d21342972b49ff986ae7/src/device/cuda/output.jl#L149

[2020-07-14 17:42] jakebolewski opened #293 "Error: Invalid bitcode signature when loading CUDA.jl after precompilation"
**Describe the bug**

[code]

Occasionally our group is seeing the above error raised from the CUDA runtime when running CI that first precompiles the package (stored on the cluster's shared file system) before running.  The error is infrequent but somewhat reproducible:

https://github.com/CliMA/ClimateMachine.jl/issues/1345

The above error is raised in LLVM's bitcode reader, which @vchuravy poi

[2020-07-14 17:42] maleadt commented on #292
It's been like that for a while. Worsened by the depwarns in LLVM.jl we currently trigger. Could add https://discourse.julialang.org/t/task-switch-not-allowed-from-inside-staged-nor-pure-functions/20488/9.

[2020-07-14 20:00] maleadt commented on #293
The runtime normally doesn't get compiled during precompilation. Or do you do anything special (like explicitly building the runtime)?

[2020-07-14 20:03] jakebolewski commented on #293
We don't do anything special, just:

[code]

for our project dependencies, we are also using the systems CUDA binaries with `JULIA_CUDA_USE_BINARYBUILDER=false` (CUDA 10.0)

[2020-07-14 20:27] jakebolewski commented on #293
This error is happening somewhat infrequently, maybe 1 out of 20-50 jobs.  So I suspect it has to do more with the cluster and less with CUDA.jl, but I've opened an issue just to make it easier to track.

[2020-07-15 18:48] Ellipse0934 commented on #81
Resolved, should be closed.

[2020-07-16 06:24] #81 closed, assigned to nobody

[2020-07-16 09:05] samo-lin commented on #81
Thanks!!

[2020-07-16 10:40] denizyuret opened #298 "Performance: bias add"
Copying from email thread:

Here is a very common operation used in every model (bias add) that is significantly slower with CuArrays, where do we start fixing this? Should I open an issue? Write a custom kernel? If so, where? Is this one of the ops that automatically gets compiled from Julia base? If so, maybe it is just a matter of optimizing threads/blocks.
[code]

[2020-07-16 10:41] denizyuret commented on #298
From @maleadt:

These are pretty small arrays; trying with some larger inputs:
[code]
Some of the overheads with smaller inputs is that CUDA.jl performs a
fair bit of work for every API call, including use of the occupancy API
for most kernels. Those overheads seem to matter then.

[2020-07-16 10:44] denizyuret commented on #298
The typical bias add operation size depends on the model, and sometimes can have small dimensions.
* What is the rough API overhead of a CUDA.jl kernel call?
* Does it matter whether the kernel was compiled from base or handwritten?
* Is there any way to improve the overhead (other than merging more ops into fewer kernels)?

[2020-07-16 13:56] maleadt commented on #298
[code]

So all API calls takes about 15us, of which the occupancy API is about 6us:

[code]

Maybe we should cache those values somewhere.

[2020-07-17 08:03] maleadt commented on #298
With some upcoming changes:

[code]

Using the following driver:

[code]

So I think this is mostly solved for the small array case, and CUDA.jl has a pretty big lead for realistic inputs.

[2020-07-18 12:12] vchuravy commented on #293
Assumed fixed with #294, let's reopen if we see it again.

[2020-07-18 14:35] maleadt opened #300 "CUDA 11 libraries incorrectly looked up in artifact"
Our code looks for `cupti64_110.dll`, but it's `cupti64_2020.1.0.dll` nowadays. This is correct in the CUDA_jll, but not updated here.

[2020-07-18 14:37] maleadt opened #301 "CUTENSOR for windows"
https://developer.nvidia.com/cutensor/downloads has a windows installer now

cc @kshyatt

[2020-07-19 08:17] denizyuret opened #302 "Performance: sum"
Regular sum is important when computing loss. The one with `dims` argument is important when computing bias backward pass. The one with a function arg is important for quadratic loss.
[code]

[2020-07-19 08:20] denizyuret opened #303 "Performance: getindex(a, i::Array{Int})"
This is important when computing loss:

[code]

[2020-07-20 04:47] denizyuret opened #305 "Display for CuArray within Tuples does not respect :limit=>true"
Displaying a large CuArray at REPL uses `:limit=>true`:
[code]
However when the array is in a tuple, this doesn't work, which is an issue with very long arrays (weight matrices in DL models etc):
[code]

[2020-07-20 04:56] denizyuret commented on #302
I think we may need to look at the performance of reduction operations in general. See Knet/deps/cuda20.jl (for scalar reductions) and cuda21.jl (for vector reductions). Also see NVIDIA's [reduction.pdf](http://developer.download.nvidia.com/compute/cuda/1.1-Beta/x86_website/projects/reduction/doc/reduction.pdf).

[2020-07-20 16:49] SimonWoods commented on #300
I have several libraries at version 10 in the artifact, but CUDA.jl is looking for version 11.

- cufft64
- cufftw64
- curand64
- cusolver64

[2020-07-20 20:28] jakebolewski commented on #293
Unfortunately this is a lot less frequently occurring, but it just showed up again:
https://gist.github.com/climabot/2f31ad168ac2e4aca3aaeb59ce775f24#file-out_10699693

[2020-07-21 06:45] denizyuret opened #307 "Performance: elementwise operations"
The following operations take about 7us with KnetArrays vs 10us with CuArrays for a (10,784) Float32 array. This slows down e.g. Adam updates during network training. There is no performance difference in `axpy!` (about 5us in both) probably because they both call the CUBLAS library function.
[code]

[2020-07-22 05:48] maleadt commented on #307
Did you test with latest master? Because these are broadcasts, which should have been improved with https://github.com/JuliaGPU/CUDA.jl/pull/299

[2020-07-22 14:34] denizyuret commented on #307
Yes, I have the latest master. Knet ccalls a custom kernel, CuArray may have other overheads?
5d5ebab 2020-07-22

[2020-07-23 11:37] maleadt opened #311 "Atomic operations only work on global memory"
[code]

Yields an error 700, ERROR_ILLEGAL_ADDRESS. Running under cuda-memcheck reveals `Invalid __global__ read of size 8`; we're using the global atomic intrinsics on a shared pointer.

Should be possible to resolve this with https://github.com/JuliaGPU/CUDA.jl/pull/199 by having `pointer(x)` give a shared pointer and have `atomic_add` dispatch to the proper intrinsic.

[2020-07-23 13:19] #300 closed, assigned to nobody

[2020-07-23 19:38] denizyuret opened #312 "Performance: perceptron"
The second `@time` in the following code is about 50x slower than the first. When I time each line of perceptron, the first `argmax` line seems to be the issue but I don't understand why:

[code]

[2020-07-24 06:16] maleadt commented on #307
Looking at just `lmul!`, the cause is call overhead. Knet only takes 2us, CUDA about 7, before the lmul kernel is launched. It's expected the costs are slightly higher because CUDA.jl does much more management (of handles, threads, etc) where Knet cuts some corners, but I'll have a look whether we can reduce those overheads a little.

[2020-07-24 11:19] maleadt commented on #302
Reductions have been optimized already, and once again perform OK on large inputs:

[code]

[2020-07-24 11:26] denizyuret commented on #302
On a typical ML problem we use batch sizes (B) of ~100. The number of classes (C) may range between 10-1000. These reductions will thus be typically applied to score matrices of size (C,B) during loss calculation. We need to target the performance on these sizes as well.

[2020-07-24 11:28] maleadt commented on #302
Of course, just saying that once again this is probably a case of some minor inefficiencies rather than unoptimized kernels.

[2020-07-24 11:33] maleadt commented on #302
In any case, the actual kernel sequences take about 10us for both, Knet launches 2 kernels (128x128 + 1x128) CUDA.jl launches one.

[2020-07-24 14:51] #307 closed, assigned to nobody

[2020-07-24 20:50] #302 closed, assigned to nobody

[2020-07-25 06:50] denizyuret opened #318 "Performance: cudnn algorithm selection"
There is a number of algorithm selection utilities in CUDNN to choose the most performant algorithm for a given input size for convolution, rnn etc. These should be integrated at least to the NNlib level interface to get the best performance. Some of these are heuristic (the *Get* functions) and do not work very well (I think they were deprecated in cudnn 8.0). Some of them actually try the variou

[2020-07-25 12:15] Ellipse0934 opened #320 "Improve Performance: findmin/findmax"
The current `findmin` and `findmax` functions are slow due to the current algorithm working in two phases ([here](https://github.com/JuliaGPU/CUDA.jl/blob/afaec8e0b2a89e09e65f8977c1312b8846c561ed/src/indexing.jl#L128-L150)). It first computes the `minimum` (computed via mapreduce) and subsequently calls `findfirstval` to find it's index. This also affects other functions which internally use `find

[2020-07-26 21:23] michel2323 opened #322 "CUSPARSE is broken in CUDA.jl 1.2"
`*`, `mult!` and possibly other operations are broken with `::CuSparseMatrixCSR`

[code]
`typeof(A*v)` returns `Nothing` and  `mul!(w, A, v)` returns all zeros in `w` with v1.2, whereas it returns the correct vector with v1.1. Maybe it's linked to #259 . I tested with CUDA 10.2 and CUDA 11.

[code]

Details on CUDA:

[code]

[2020-07-27 07:25] maleadt commented on #322
Can't reproduce on master/1.2 with Julia 1.5 or 1.4. Can you verify in a clean environment?

[2020-07-27 08:46] denizyuret opened #324 "windows install error: isfile(__libcupti[])"
I get the following on a fresh install on a windows machine.
[code]

After I copied cupti to the correct name, it started giving similar errors on other libraries.

I checked out the dev version. This time I got:
[code]

[2020-07-27 08:55] maleadt commented on #324
Dup of https://github.com/JuliaGPU/CUDA.jl/issues/300, fixed on master

You need to use the Manifest, or check-out (currently) GPUArrays from master too.

[2020-07-27 08:55] #324 closed, assigned to nobody

[2020-07-27 11:45] maleadt commented on #312
For reference:

[code]

Each of these operations are asynchronous, so you should sync your timings. Either use `@time CUDA.@sync` or even better `CUDA.@time` which does this for you (and takes care other asynchronous operations don't mess with the timings):

[code]

[code]

Or even better:

[code]

Not sure where the other `@time` difference comes from, but :shrug: there's better tools.

[2020-07-27 11:45] #312 closed, assigned to nobody

[2020-07-27 12:00] maleadt commented on #303
Looks fixed with the recent round of improvements:

[code]

[2020-07-27 12:00] #303 closed, assigned to nobody

[2020-07-27 12:01] maleadt commented on #305
Works here?

[code]

[2020-07-27 13:34] #301 closed, assigned to nobody

[2020-07-27 15:38] michel2323 commented on #322
I'm so sorry @maleadt , obviously `cuA` and not `A` should be used. This was lost in copy pasting. I fixed the typo. I also tried with a new environment and Julia depot.

[2020-07-27 16:52] maximilian-gelbrecht commented on #322
can confirm that this is broken and it includes `CuSparseMatrixCSC` as well

[code]
results in `c==nothing` for me.

This is with a CUDA.jl 1.2, CUDA 9.2, Julia 1.4.2. The Julia environment was fresh but I installed all packages that I needed for my current project (Flux + DiffEqFlux + some small utilities) alongside CUDA.jl. I use the pre-installed CUDA version on the HPC as the compute nodes hav

[2020-07-27 22:49] michel2323 commented on #102
Retested with CUDA.jl 1.2. The above code works after the syntax changes from the version updates, so I'm closing this.

[2020-07-27 22:49] #102 closed, assigned to nobody

[2020-07-27 22:58] michel2323 commented on #322
Looks a lot like #256

[2020-07-28 10:33] maleadt commented on #322
I don't think this has ever worked. The reason it returned nothing is because of badly-attached docstrings, but the underlying cause is that you're performing a mixed Fkoat64 x Float32 multiplication that's not supported by CUSPARSE. Furthermore CUSPARSE seems to only support matrix-vector multiplication on the BCSR format, so this works:

[code]

I agree that this isn't particularly user-friendly

[2020-07-28 10:35] maleadt commented on #256
HYB format has been deprecated, but the underlying problem has been 'fixed' (it now throws a MethodError) in the linked PR.

[2020-07-28 11:04] maximilian-gelbrecht commented on #322
Oh, you are right. I reduced my problem to a wrong, hastily written minimal example it seems. In this case it really was the Float32, Float64 mix up. (a side note: is it not possible to output a warning if `nothing` is returned because of this? the first time I encountered this it took me a really long time to spot the source of the mistake). However I also do encounter an error with a multiplicat

[2020-07-28 11:58] maximilian-gelbrecht commented on #322
@maleadt : From where do you take:

I roughly observed the following behaviour when porting my current project from `CuArrays.jl` (v.1.7.3) to `CUDA.jl` (v1.2)  (just replacing `CuArrays` with `CUDA`): with `CuArrays.jl` `CuSparseMatrixCSC * CuArray` was working and  with `CUDA.jl` it is not.

I also do not want to derail from the problem that @michel2323 has posted, but I think this might be very

[2020-07-28 13:12] #256 closed, assigned to nobody

[2020-07-28 13:15] maximilian-gelbrecht commented on #322
@maleadt why is this closed? I don't think it is fixed. Personally, I have code that working just fine with the old versions that is not anymore and @michel2323 problem doesn't seem to be solved either.

care to explain it?

[2020-07-28 13:37] maleadt commented on #322
Sorry, I didn't see your comment with additional code before closing it.

[2020-07-29 06:56] maleadt commented on #322
Found the culprit: `cusparseScsrmv` was removed with CUDA 11, https://github.com/JuliaGPU/CUDA.jl/pull/291, should use `cusparseSpMV` instead

[2020-07-29 15:43] maleadt commented on #322
Although I plan to look at this, I don't think I'll have it block the next release (since it's currently broken already, and there's other issues that are fixed already on the master branch).

[2020-07-30 06:30] avik-pal opened #336 "std with dims is not type stable"
**Describe the bug**

`std` function from Statistics is type unstable when used on CuArray with the dims argument

**To reproduce**

The Minimal Working Example (MWE) for this bug:

[code]

<details><summary>Dependencies</summary>
<p>

[code]

Verified on both the latest release and master

</p>
</details>

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

**Additional context

[2020-07-30 08:55] denizyuret commented on #305
You probably have:
[code]
This problem occurs when (e.g. in emacs shell):
[code]

[2020-07-30 10:40] #336 closed, assigned to maleadt

[2020-07-30 11:10] maleadt commented on #305
Still works:

[code]

[2020-07-30 14:15] denizyuret commented on #305
OK, I think I figured it out, I think this only happens in emacs shell because it uses the dumb terminal, try:
TERM=dumb julia

[2020-07-30 14:18] #263 closed, assigned to nobody

[2020-07-30 14:55] maleadt commented on #305
That's exactly what I did to get the BasicREPL, and it still worked properly.

[2020-07-30 15:45] denizyuret commented on #305
OK, that's odd. Here is what I get on several linux machines I tried. We could have different linux versions, different julia versions, different startup files, different terminal settings?
[code]

[2020-07-30 16:24] maleadt commented on #305
This reproduces on 1.4, where `Array` has the same behavior though:

[code]

[2020-07-30 16:24] #305 closed, assigned to nobody

[2020-07-30 16:54] denizyuret opened #340 "External allocations fail under high memory pressure"
This is a memory stability issue I was not able to crack during training of a largish model written by @mg9. To replicate, download [test.zip](https://drive.google.com/file/d/1dUeQ5Ox4IRHEfgqs6I0oLxmCmbZw5GV-/view?usp=drive_web), unzip and run julia in the resulting directory and `include("train.jl")`. The errors appear within 1-2 minutes. There are two problems as far as I can see:

The first pro

[2020-07-30 17:28] maleadt commented on #340
That's the ideal solution. If that doesn't work, you can always retry the API call while reclaiming memory (this is done already when the library properly reports ALLOC_FAILED): https://github.com/JuliaGPU/CUDA.jl/blob/77bc62bf904b6e591e3fc7921921f172a981f89a/lib/cusolver/wrappers.jl#L25-L35

For the other issue, it's possible memory in the pool gets corrupted somehow. Running under `cuda-memcheck

[2020-07-30 17:40] maleadt opened #341 "Make @cuda return a kernel object"
This kernel object could have some features:
- `wait(kernel)` for synchronization, or to query status
- easy introspection of compiled properties (although this would duplicate what `cufunction` currently returns)

I guess this would also make it easier for KernelAbstractions.jl to use CUDA.jl.

But more importantly, I think we can use / need this to root argument boxes passed to CUDA. This may or

[2020-07-31 08:06] denizyuret commented on #340
The last box above was under cuda-memcheck, I just don't understand why a regular `alloc` would cause a `Invalid __global__ read of size 4`.

[2020-07-31 09:31] maleadt commented on #340
Ah, I can't read. What's the device frame it reported for that invalid read, within `memcpy` or asynchronously from a kernel of ours?

[2020-07-31 10:50] denizyuret commented on #340
I could not get the same error today after updating CUDA.jl from master. I went back to the last release for replicability. Here is the error log: https://gist.github.com/denizyuret/3082f805381126b2f0d0d8825f0bf833

Next I will try to replicate the error without using KnetArrays to rule out any weird memory block alignment etc type issues while I am hopping back and forth between CUDA pointers and

[2020-07-31 12:29] maleadt commented on #340
Looking at the full log now, this seems like a legitimate out-of-bounds access in a Knet kernel (in `_addrows_32(int, int, int, int*, float*, float*)`); it just gets shown under the call to `alloc` because that's the first synchronizing API call.

[2020-07-31 20:21] denizyuret opened #343 "Incomplete CUDNN wrappers"
It doesn't look like RNNDesc has information about number of layers, bidirectional, etc. params() does not seem to be aware of multiple layers if I am not mistaken. Is this an incomplete interface? What does Flux use? (I can help complete it)

[2020-08-01 20:51] denizyuret opened #344 "Type changing Array conversions give error when allowscalar(false)"
[code]
Here is a possible fix:
[code]

[2020-08-01 21:22] denizyuret commented on #340
It turns out there was a getindex without a bounds check.

[2020-08-01 23:16] denizyuret opened #345 "getindex(::CuArray, ::Adjoint, ::Colon) fails"
This is also true for other AbstractArray types, such as SubArray etc. All work if the index is converted to Array first.
[code]

[2020-08-02 00:15] nirmal-suthar commented on #322
Julia 1.4.2 CUDA v1.2.1 CUDA Version: 10.2

[code]

While `CuSparseMatrixCSC{Float64}` works
[code]

[2020-08-02 09:42] denizyuret opened #346 "Trouble with the @. macro"
The following function fails with CuArrays with the `@.` macro, but the equivalent second line works:
[code]

[2020-08-02 12:19] denizyuret commented on #343
I think we should have a general discussion about the CUDNN interface and the NNlib interface for e.g. conv, rnn, and batchnorm. Currently the NNlib conv interface is missing the `group` parameter, the pool interface does not support `mode=2`, there is no rnn interface as far as I can see. Before I go in and help complete some of this, I would like to find what the general design philosophy is so

[2020-08-02 13:23] denizyuret commented on #340
This looks great. Why can't we make this the standard behavior for all our calls?

[2020-08-04 20:57] pauljurczak opened #348 "NVMLError: Not Supported (code 3)"
I'm using Julia v1.5 with CUDA Toolkit V10.2.89 on Ubuntu 18.04 and GeForce GT 730 with Driver Version: 440.100.
[code]
I tried both the toolkit binary installation from Nvidia and binary artifacts pulled by CUDA.jl. In both cases CUDA package test fails:
[code]
with `NVMLError: Not Supported (code 3)` in all cases. The simple CUDA examples, e.g. vector addition, seem to work fine, though.

[2020-08-04 22:18] stillyslalom commented on #301
I'm seeing a failure to locate `cutensor.dll` on master. Does it need to be downloaded separately via an external installer?
[code]

[2020-08-05 04:30] IanButterworth opened #349 "Nvidia Xavier devices: exception thrown during kernel execution on device Xavier"
**Describe the bug**

Using ObjectDetector.jl (uses CUDA via Flux) on v1.5.0 I hit this kernel issue NVidia Xavier devices

Note that this is one of the NVIDIA jetpack-based devices, that uses a modified CUDA

[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

A clear and concise description of what you expected to happen.

**Version info**

Deta

[2020-08-05 04:50] marius311 opened #350 "Device-side broadcast regression on 1.5"
The following works with CUDA 1.2.1 and Julia 1.4 but errors on 1.5:

[code]

[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

[2020-08-05 07:26] marius311 commented on #346
Note the two aren't strictly equivalent since the `@.` version also broadcasts over `F.(1e-10)`, and that's causing the error. Not sure what can be done about it on the CUDA side but on your side doing `$F(1e-10)` fixes it (and might be faster, although I don't know if the compiler is smart enough to hoist the conversion out of the loop anyway)

[2020-08-05 22:55] simonbyrne commented on #322
Another issues is that sparse matrix * matrix works, but sparse matrix * vector does not:
[code]

[2020-08-06 06:23] maleadt commented on #301
Does that path not exist? It should be downloaded automatically. Please open an issue with more details, and include a listing of `C:\Users\alexa\.julia\artifacts\804435c7dbe9d002d6caa0a8b3596d11a6faa778\bin`.

[2020-08-06 06:44] maleadt commented on #344
We don't implement `convert` methods, but instead rely on Base's array constructors calling `copyto!`. And we don't have `copyto!(Array{T}, CuArray{U})` because that operation is costly, either on-device (first converting the CuArray elements) or on the host (finally converting the Array elements). That choice is up to the user. and the same applies to `convert`: IMO CUDA.jl isn't to decide whethe

[2020-08-06 07:04] maleadt commented on #345
Looks like the indexing kernel expects the adjoint to be GPU compatible (here a CPU adjoint gets passed). We're pretty inconsistent though about supporting CPU vs GPU indices though, and we should probably not implement `Base._unsafe_getindex` but just `getindex` so that we can handle all cases. This functionality would need to live in GPUArrays.jl.

[2020-08-06 07:06] maleadt commented on #340
It is like that: https://github.com/JuliaGPU/CUDA.jl/blob/47bc7332e32685f274643c8c47c528de0504a629/lib/cusolver/error.jl#L50-L59

Here, the error was misreported.

[2020-08-06 07:26] maleadt commented on #348
Please include the back trace, as I can't see which test failed. There is no issue though, some NVML operations are not supported and we just need to mark the tests as such.

[2020-08-06 07:31] maleadt commented on #349
Since you have these packages `dev`ved, could you add some debug statement to the call to `mapreducedim!` to see which exact invocation triggers the device-side exception?

Also, did you not see additional output from the device? It should have printed something (if anything, a recommendation to run under `-g2` to get to see a stack trace).

This also probably has nothing to do with running on a X

[2020-08-06 07:36] denizyuret commented on #344
I think having a suboptimal implementation that works is better than having
no implementation and throwing an error. We support this type of conversion
on other array types like sparse arrays, special matrices, subarrays etc.
We can benchmark to see if there is any significant difference in
converting on GPU vs CPU.

On Thu, Aug 6, 2020 at 9:44 AM Tim Besard <notifications@github.com> wrote:

[2020-08-06 07:40] denizyuret commented on #340
I think the problem is (at least with CUDNN) that the error reported is not always ALLOC_FAILED. This could be fixed if instead of insisting on ALLOC_FAILED, we tried this whenever the returned status is not STATUS_SUCCESS. (e.g. the error I mostly get is CUDNN_STATUS_EXECUTION_FAILED, but I am not sure how consistent this is. At the very least we should add this to the CUDNN @check macro).

[2020-08-06 07:57] maleadt commented on #350
Device-side broadcast isn't really well-supported / tested.

[2020-08-06 08:05] maleadt commented on #340
No, that's way too hacky.

[2020-08-06 08:11] maleadt commented on #346
Please include a MWE.

[2020-08-06 08:16] pauljurczak commented on #348
Here is more info. The exceptions seem to be the same for all failed tests:
[code]
Except of this one:
[code]

[2020-08-06 08:35] denizyuret commented on #340
How about at least adding the CUDNN_STATUS_EXECUTION_FAILED to the failure list? I say this level of hackiness is cudnn's fault for not giving us a proper error code ;)

[2020-08-06 08:43] denizyuret commented on #346
[code]

[2020-08-06 08:44] maleadt commented on #340
True :-) I'm worried about side-effects though, as the inputs might already have been partially changed. Maybe it's better to approach this from the memory allocator, e.g., make sure there's always some memory available for use by CUDNN (I think this is what TF does).

[2020-08-06 08:45] maleadt commented on #348
Ah, interesting, it's the use of NVML by the test runner that fails here. I'll have a look.

[2020-08-06 08:48] maleadt commented on #348
Could you test https://github.com/JuliaGPU/CUDA.jl/pull/352?

[2020-08-06 08:49] denizyuret commented on #340
Are you thinking of limiting max memory use without having the user set `usage_limit[]`? I think this is a good idea. We just need to figure out the minimum amount of memory reserved we can get away with that will provide stability.

[2020-08-06 08:56] maleadt commented on #346
So yeah, @marius311 already pinpointed the issue:

[code]

Passing `F` to a kernel or device function works and is supported, but here it results in the Broadcasted object being non-bits, which we can't support.

[2020-08-06 08:56] #346 closed, assigned to nobody

[2020-08-06 08:56] pauljurczak commented on #348
Sure, but I have to figure out how to do it. I'm new to Julia and git.

[2020-08-06 08:59] maleadt commented on #348
This should work (you can do this in a fresh depot if you don't want to mess with your global environment):

[code]

[2020-08-06 09:22] pauljurczak commented on #348
Here are the results:
[cuda-test.txt](https://github.com/JuliaGPU/CUDA.jl/files/5033897/cuda-test.txt)

[2020-08-06 09:25] maleadt commented on #348
Ah, just a typo. Should work now, try `] up CUDA` and testing again.

[2020-08-06 12:03] #348 closed, assigned to nobody

[2020-08-06 12:04] maleadt commented on #340
Something like that, yes. We could estimate the size based on device properties at the start of the session, or when switching devices.

[2020-08-06 13:47] pauljurczak commented on #348
New results:
[code]

[2020-08-06 14:03] maleadt commented on #348
Thanks, I'll add that test to the list of possibly unsupported ones. Pushed directly to master, so you can `add CUDA#master`.

[2020-08-06 14:04] IanButterworth commented on #349
Sorry, that wasn't a verbatim output sequence. I just added the top 4 lines as a MWE, then pasted the error below. I'll re-run this on the device and report more

[2020-08-06 16:17] maleadt opened #354 "API for fast math-like mode"
Currently much of the accuracy/performance trade-off flags (to, e.g., CUBLAS and CUDNN) are toggled based on Julia's fast math mode, which is a Bad Thing to enable globally. For CUDNN we can get by doing the "inaccurate"/fast thing by default, i.e. https://github.com/JuliaGPU/CUDA.jl/pull/321, because most ML users won't need the accuracy. But for CUBLAS I don't think CUDA.jl should do the same gl

[2020-08-06 16:19] maleadt commented on #354
Alternatively CuArray could track fast-mathiness, but it seems hard to make sure that propagates everywhere.

[2020-08-06 17:45] stillyslalom opened #355 "Could not load CUTENSOR artifact dll on Windows 10"
**Describe the bug**

When installing `CUDA#master` in Julia 1.5 on Windows 10 (after nuking .julia/ to start fresh), a (504) Gateway Timeout exception is thrown while downloading artifacts, followed by an error resulting from failure to load cutensor.dll, despite the existence of the library at the specified path.

**To reproduce**

The Minimal Working Example (MWE) for this bug:

[code]
[code]

[2020-08-06 17:47] stillyslalom commented on #301
https://github.com/JuliaGPU/CUDA.jl/issues/355

[2020-08-06 17:51] maleadt commented on #355
Can you list the files in `C:\Users\alexa\.julia\artifacts\804435c7dbe9d002d6caa0a8b3596d11a6faa778\bin\`?

[2020-08-06 18:00] stillyslalom commented on #355
cutensor.dll is the only file in that folder. There are two other artifact folders containing various other CUDA dlls:
![image](https://user-images.githubusercontent.com/4324760/89565702-90330700-d7e4-11ea-904d-f4b6778d1ea6.png)
![image](https://user-images.githubusercontent.com/4324760/89565756-a3de6d80-d7e4-11ea-9ed7-7aa3ae250687.png)

[2020-08-06 20:36] maleadt commented on #355
I'm not sure why the DLL wouldn't load then (`The specified module could not be found.`), and I don't have much Windows experience to debug that. I'll see if I can reproduce.

[2020-08-06 20:54] pauljurczak commented on #348
There are still some issues:
[cuda-test-2.txt](https://github.com/JuliaGPU/CUDA.jl/files/5037925/cuda-test-2.txt)

[2020-08-06 21:34] stillyslalom commented on #355
The cutensor artifact is intact, which rules out download corruption. CUDA 11 support is a pretty recent development, right? Any chance the artifact itself is broken?
[code]
This is the subset of dlls that's loaded during CUDA.jl initialization before the error:
[code]

[2020-08-06 21:46] stillyslalom commented on #355
I downloaded cutensor.dll v11 from Nvidia, and the artifact is identical, so that's not the issue
[code]

[2020-08-06 22:06] stillyslalom commented on #355
The issue's coming from `CUDA110`, which must be improperly linking to cutensor:
[code]
I think it may be related to https://github.com/JuliaLang/Pkg.jl/issues/1892.

[2020-08-07 01:58] IanButterworth commented on #349
Yeah, this is happening on a GeForce GTX 1650 system too, with JLL-based CUDA.

I've extracted the code which serves as a MWE.

By the way, this code block has been unchanged recently, except for a switch from `CuArrays.zeros` to `CUDA.zeros`

[code]
[code]

Any idea why this has broken?

[2020-08-07 02:51] marius311 commented on #220
Fyi I have a `CuSparseMatrixCOO` type working on https://github.com/marius311/CUDA.jl/tree/coo. Currently just the constructor and `switch2csr` implemented, but it'd be pretty trivial to do `cusparseSpMM` as well based on `cusparseSpMV` which is in there. I'm going to wait to see how https://github.com/JuliaGPU/CUDA.jl/pull/351 fleshes out (on which this branch depends), but then could contribute

[2020-08-07 03:01] IanButterworth commented on #349
Seems to be a problem with count
[code]

[2020-08-07 03:57] IanButterworth commented on #349
Fixed with this. But I'm not sure why this started erroring.
Perhaps it's a 1.5 issue.
[code]

[2020-08-07 03:57] #349 closed, assigned to nobody

[2020-08-07 06:01] maleadt commented on #349
Yeah, it's probably this type error you were seeing:
[code]

[2020-08-07 06:05] maleadt commented on #348
OK, marked that test as unsupported as well: https://github.com/JuliaGPU/CUDA.jl/commit/fedf0878741a43f70f2d10efe34950a94806ae74. Looks like your NVML doesn't support very much. Note that these are trivial changes, it might be easier if you try yourself.

[2020-08-07 08:56] DhairyaLGandhi commented on #354
How would CUDA track this? I agree that CUDA shouldn't turn this on globally. How do you see this API looking like? Would it perhaps be a singleton that every effected kernel would accept that would choose the strategy or would that be closer to a flag inside CUDA that Flux sets? In that case, it would have a more far reaching effect, which would be undesirable for other parts of user code.

[2020-08-09 00:33] jakeoung opened #357 "CuTextureArray for 3D array"
If I run this code,
[code]
I got the error: `ERROR: type ArrayBuffer has no field bytesize`. How can I use for 3D array?

I used CUDA v1.2.1.

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

**Additional context**

Add any other context about the problem here.

[2020-08-10 14:52] maleadt opened #359 "Depend on CompilerSupportLibraries"
`libcutensor` requires `libgomp`, which we install manually as part of CI. Maybe we should just depend on the CSL JLL instead, even though it's not really for an artifact that got built against it.

[2020-08-11 01:47] EddieCueto opened #360 "Bug in julia 1.5.0 I have CUDA 11.0 installed in Ubuntu 18.04"
I have already removed .julia directory and did add CUDA in the package manager.
The package precompiles when I do using CUDA but when I use any command for example CUDA.version() the package fails.

This is the complete error message:

julia> CUDA.version()
┌ Warning: Recursion during initialization of CUDA.jl
└ @ CUDA ~/.julia/packages/CUDA/7vLVC/src/initialization.jl:41
┌ Error: Could not initi

[2020-08-11 10:34] maleadt commented on #360
Please don't just ignore the bug template and/or the documentation: https://juliagpu.gitlab.io/CUDA.jl/installation/troubleshooting/#UNKNOWN_ERROR(999)-1

[2020-08-11 10:34] #360 closed, assigned to nobody

[2020-08-12 11:28] AliMalik9599 commented on #345
Hi @maleadt I am interested in working on this issue. I am relatively new to Julia, any advice on starting? Thanks!

[2020-08-12 15:28] pmcvay commented on #250
I tried to load CUDA (`using CUDA`) and got the same error `ERROR: LoadError: LoadError: LoadError: UndefVarError: AddrSpacePtr not defined` today. I am running the latest julia (v1.5.0) and added the latest CUDA (v0.1.0) on a linux machine. Is this still expected?

[2020-08-12 15:41] maleadt commented on #357
This is just the `show` going wrong, the texture should be functional.

[2020-08-12 15:46] maleadt commented on #250
Julia 1.5 is not supported on CUDA 0.1

[2020-08-12 17:52] #357 closed, assigned to nobody

[2020-08-12 20:04] maleadt commented on #345
Have a look (e.g. following through with `@edit`) at the indexing kernel in GPUArrays.jl. It should be fixed up to be compatible with this CPU adoint, e.g., uploading it to the GPU first. It currently also implements `Base._unsafe_getindex`, which is an internal interface, so it might be better to tackle that code entirely instead of fixing this use case. This all might be tricky for somebody new

[2020-08-13 11:48] timkimd commented on #355
I think I'm having similar issue. (I'm using Windows, and I can't load Flux or DiffEqFlux with Julia 1.4.2 or 1.5.0, but the error doesn't occur when using Julia 1.3.1.)

https://github.com/FluxML/Flux.jl/issues/1313

[2020-08-13 14:39] charleskawczynski commented on #355
I'm also using Windows, and I can't load CUDA with Julia 1.4.2 or 1.5.0, but I can with Julia 1.3.1.

[2020-08-13 14:54] stillyslalom commented on #355
Which version of CUDA are you running? (check with `nvidia-smi` in the console). I'm on 11.0. It's unclear whether it's just a problem with the 11.0 DLLs, or if it's more general than that.

[2020-08-13 16:19] charleskawczynski commented on #355
Hm, not sure how to use the `nvidia-smi` command:
[code]
But,
[code]

[2020-08-13 20:18] stillyslalom commented on #355
You should be able to run `nvidia-smi` from one of the built-in Windows terminals (cmd or Powershell), but yeah, you're on CUDA v10.2. What's the error message you see on Julia 1.5?

[2020-08-13 23:01] charleskawczynski commented on #355
I believe it was the same, or very similar to the issue post.

[2020-08-14 00:27] stillyslalom commented on #355
The download issue should be fixed now, which leaves us with a secondary issue involving improperly-linked DLLs. Can you confirm that you're able to download those artifacts without a 502/504 error?

[2020-08-14 08:35] maleadt opened #365 "CUDA 11.0 Update 1: cublasSetWorkspace"
We should use this function to provide CUBLAS with a workspace out of the memory pool.

[2020-08-14 08:37] maleadt opened #366 "Callback-based logging"
Some libraires, like CUBLAS, can be configured to log through a callback, e.g. `cublasSetLoggerCallback`. We should do this when the CUBLAS module has debugging enabled (`JULIA_DEBUG=CUBLAS`) and route those messages back through Julia's logging infrastructure.

[2020-08-14 13:27] #366 closed, assigned to nobody

[2020-08-14 15:31] HenriDeh commented on #355
I get 504 error when downloading CUDNN_CUDA102 on CUDA#master. Not fixed evidently.

[2020-08-16 12:20] maleadt commented on #355
Please refer to https://github.com/JuliaLang/Pkg.jl/issues/1892; this is not an issue on the CUDA.jl side.

[2020-08-16 12:25] maleadt commented on #355
For the people where the CUTENSOR dll fails to load, which version of Windows are you using exactly? Could you open the CUTENSOR dll in [Dependencies](https://github.com/lucasg/Dependencies) and report what you see:

![image](https://user-images.githubusercontent.com/383068/90334210-5d4ef700-dfcc-11ea-8a67-73e15ce39ad9.png)

[2020-08-17 09:01] HenriDeh commented on #355
@maleadt I also have the cutensor load issue. I am on windows 10 family version 1903. Here is what Dependencies shows :
![image](https://user-images.githubusercontent.com/47037088/90377918-ff2c1d80-e078-11ea-87d5-b51789273c19.png)

Hoovering over the `?` entry displays "VCRUNTIME140_1.dll module could not be found on disk"
Tell me if you need more details.

[2020-08-17 13:27] stillyslalom commented on #355
Try installing [Visual Studio C++](https://visualstudio.microsoft.com/vs/features/cplusplus/) - that provides VCRUNTIME. After installing, I'm able to initialize CUDA.jl:
[code]

[2020-08-17 13:33] HenriDeh commented on #355
I directly downloaded the dll from [here](https://www.dll-files.com/vcruntime140_1.dll.html) and now CUDA works. (save it in C:\Windows\sytem32)

[2020-08-17 14:04] stillyslalom commented on #355
It may suffice to install the 2015-2019 [VS C++ redistributable](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).  @charleskawczynski can you give that a shot? If so, we can just add a note to the installation instructions.

[2020-08-17 14:11] joaogoliveira1 opened #369 "Artifact download timeout"
I get an exception when doing in package mode:

[code]

The exception is the following:

[code]

Is this normal? After this, the following happens:

[code]

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

[2020-08-17 20:38] ali-ramadhan opened #370 "`sum!` accumulates when called multiple times"
**Describe the bug**

Calling `sum!` twice should produce the exact same answer but it seems to be accumulating.

**To reproduce**

The Minimal Working Example (MWE) for this bug:

[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

The second call to `sum!(c, C)` should return the exact same answer as the first call.

**Version info**

Details on

[2020-08-17 20:40] ali-ramadhan commented on #370
Noticed I was on CUDA v1.2.0 so I tried upgrading to v1.2.1 but the issue is still there. Also tried on a Power9 machine with a V100 and issue is there too.

[2020-08-17 22:14] mkarikom opened #371 "nvprof does not detect kernel launches"
nvprof runs without error and CUDA.jl gives expected behavior, but nvprof cannot see anything.

Julia environment:
[code]

nvprof version:
[code]

hardware and library support:
[code]

script tested: scratch.jl (part of the CUDA.jl/test for mapreduce)
[code]

result of running scratch.jl in repl:

[code]

result of running nvprof on scratch.jl:
[code]

expected result is something along the lines

[2020-08-18 05:25] jquetzalcoatl opened #372 "KernelError: passing and using non-bitstype argument"
Hi! I'm new and was hoping someone could help me understand this stacktrace.
Thank you!

I'm using GPU's with DiffEqFlux and it seems I'm getting an error with GPUCompilers. I'm training a matrix of parameters `p` by using a MSE.

The values of the elements in pinit are in (0.0,1.0]

The error is raised with:
`DiffEqFlux.sciml_train(loss, pinit, ADAM(0.1), maxiters=10)`
where:
`function loss(p)

[2020-08-18 05:56] maleadt commented on #369
Not a CUDA.jl bug, IIUC @staticfloat has been working on this, see https://github.com/JuliaLang/Pkg.jl/issues/1892.

[2020-08-18 05:56] #369 closed, assigned to nobody

[2020-08-18 05:59] maleadt commented on #371
If you use `--profile-from-start off` you need to activate the profiler again using `CUDA.@profile`.

[2020-08-18 05:59] #371 closed, assigned to nobody

[2020-08-18 06:03] maleadt commented on #372
If you look at the error details:

[code]

You can see your broadcast contains a `Array{Float32,1}`, i.e., part of the thing you're broadcasting still contains a CPU array. That's not GPU compatible; we don't auto-upload data to the GPU, that's your responsibility :slightly_smiling_face:

[2020-08-18 06:03] #372 closed, assigned to nobody

[2020-08-18 07:19] #370 closed, assigned to nobody

[2020-08-18 15:31] jakebolewski opened #376 "CUDA.jl fails to find libcudadevrt.a due on a cluster install with multi-arch target"
**Describe the bug**

On a cluster install of CUDA 10.1 and 10.2, libcudadevrt.a is installed under the multiarch target location `.../CUDA/10.1/targets/x86_64-linux/lib/libcudadevrt.a`  instead of the assumed search path of `.../CUDA/10.0/lib64/libcudadevrt.a`.  Is this a build/config installation error or should the library initialization lookup also search multi-arch target locations if that is

[2020-08-18 16:14] maleadt commented on #376
I think `lib`/`lib64` should be symlinks to the target-specific directories, or at least that's how NVIDIA used to package it.

[2020-08-18 16:49] jakebolewski commented on #376
It looks like the lib64 -> target symlink is not being generated for this module so this looks to be a module build / packaging error.  Can confirm this works for CUDA 11, thanks for the help.

[2020-08-18 16:49] #376 closed, assigned to nobody

[2020-08-18 19:32] denizyuret commented on #298
I noticed some more performance differences and modified your driver above for a couple of cases that come up in real models:
(1) 4-D scalar multiplication, (2) 4-D bias addition. If you run the following main2 and main3 with 4D args `(14,14,256,32)`, the first one will multiply by 5, the second will try to add a bias of `(1,1,256,32)` and both show some slowdown. Interstingly if you run `main2(14

[2020-08-19 09:56] #355 closed, assigned to nobody

[2020-08-19 15:10] maleadt commented on #322
With #351, some cases work again already but CSC support is still missing.

[2020-08-19 20:32] ChrisRackauckas opened #378 "Element-wise conversion fails"
[code]

[code]

[2020-08-19 23:23] mkarikom opened #379 "atomic_min fails for Int32 in global CuDeviceArrays"
**Describe the bug**
Using the [@atomic ](https://juliagpu.gitlab.io/CUDA.jl/api/kernel/#CUDA.@atomic)macro to compare Int32 values in a CuDeviceArray produces the following error, suggesting that CUDA.atomic_min! does not think one or more of the indices printed in the MWE are Int32, Int64, UInt32, or UInt64.

[code]

However, after commenting out line 24 the MWE runs and we can see that the expa

[2020-08-20 06:04] shrimpceviche opened #380 "LLVM WMMA errors"
**Describe the bug**

I encountered the following errors while executing the test suite ```Pkg.test("CUDA") ```
[code]

**To reproduce**

The Minimal Working Example (MWE) for this bug:

[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

All the tests should pass

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

**Additional

[2020-08-20 06:14] MasonProtter opened #381 "Segmentation fault from @cuprint on char"
Trying to print a `Char` causes a segfault for me:
[code]
Here is my `Manifest.toml`
[code]
and version infos
[code]

[2020-08-20 06:53] maleadt commented on #381
Oh, this is you executing GPU code on the CPU :slightly_smiling_face:

[code]

[2020-08-20 06:53] #381 closed, assigned to nobody

[2020-08-20 06:56] maleadt commented on #380
Which exact test fails? And can you post `capability(device())` and `CUDA.supported_capability(device())`?

[2020-08-20 06:56] MasonProtter commented on #381
:facepalm:

[2020-08-20 06:58] maleadt commented on #378
Dup of https://github.com/JuliaGPU/CUDA.jl/issues/261. Unlikely to be fixed due to how broadcast works.

[2020-08-20 06:58] #378 closed, assigned to nobody

[2020-08-20 07:02] maleadt commented on #379
With `@device_code_warntype interactive=true`:
[code]

You're calling `atomic_min!` with mismatched types.

[2020-08-20 07:02] #379 closed, assigned to nobody

[2020-08-20 07:59] mkarikom commented on #379
Thanks, really appreciate the the guidance on debugging tools!
Casting to Int32 as follows addresses the issue:
[code]

[2020-08-20 15:49] jgreener64 opened #384 "View with array indices causes memory copy before broadcast"
**Describe the bug**

I'm really enjoying the GPU features in Julia, particularly broadcasting.

It seems you have to explicitly move a `view` of a CuArray onto the GPU for broadcasting to be fast.

**To reproduce**

Here I set up a `CuArray`, some indices and a placeholder function to broadcast over.

[code]
Now
[code]
[code]
and
[code]
[code]
which seems rather slow. However if I do
[code]
[code

[2020-08-21 14:48] maleadt commented on #384
Since your view contains CPU indices, `SubArray{Float32,1,CuArray{Float32,1},Tuple{Array{Int64,1}},false}`, we should probably just reject calling kernels like that. What happens now, is that the upload to the GPU happens as part of `cudaconvert` when calling the kernel (this is arguably unwanted, since it's costly, and we otherwise never automatically upload when calling kernels):

[code]

So you

[2020-08-21 16:46] jgreener64 commented on #384
Thanks for looking into it and for the report.

If anyone has ideas of how to make a workaround for a package, i.e. call `cu` without importing CUDA.jl, let me know. `coords` is available (on CPU or GPU) so it might be possible to extract the type and do something with it.

[2020-08-21 17:28] maleadt commented on #384
We should probably specialize `view` here.

[2020-08-21 17:45] jpsamaroo commented on #293
I believe I'm seeing similar behavior in AMDGPU.jl, where we have approximately the same code pattern as CUDA.jl for bitcode loading. The exact error I get is slightly different than the one reported here, but is similarly stochastic in nature. Usually I won't get them for a long while (approx. 1 out of 100 runs), but once it occurs the first time, I will keep getting them at a frequency of about

[2020-08-21 23:45] GregPlowman opened #385 "error in versioninfo(), name not defined"
[code]

Windows 10, Julia v1.5.0, CUDA v1.3.0

First received this error while running `Pkg.test("CUDA")`.
Subsequently updated to latest NVIDIA drivers, which removed this error.
Presumably because `has_nvml()` now returns true, causing a different code path through `versioninfo()`.

To reproduce:
[code]
Output:
[code]
Here's the section of code from versioninfo():
[code]

[2020-08-22 06:02] maleadt commented on #385
https://github.com/JuliaGPU/CUDA.jl/commit/fee53e80ea2e40954a704d827b3f03b88239dc7c

[2020-08-22 06:02] #385 closed, assigned to nobody

[2020-08-22 07:35] GregPlowman commented on #380
I'm getting the same errors. Well I think so, the error trace messages are very long and scroll off the screen.

Windows 10, Julia v1.5.0, CUDA v1.3.0

`capability(device())` and `CUDA.supported_capability(device())` both return `v"6.1.0"`.

Does `wmma` require >= `v"7.0"`?
If so, then presumably `wmma` is not supported on this gpu and these tests are meant to be skipped?

Commenting out line 181

[2020-08-22 09:04] maleadt commented on #380
Thanks, that helped. https://github.com/JuliaGPU/CUDA.jl/issues/380 should fix this, could you check?

[2020-08-23 07:54] GregPlowman commented on #380
I think you meant #386
Yes, it appears to have fixed the problem. Thanks!
On my machine `device\wmma` tests are skipped and the rest of the test suite finishes successfully.

[code]

[2020-08-24 05:06] #380 closed, assigned to nobody

[2020-08-24 08:00] #384 closed, assigned to nobody

[2020-08-24 08:34] #344 closed, assigned to nobody

[2020-08-24 10:01] jgreener64 commented on #384
Great, thanks a lot.

[2020-08-24 11:44] #345 closed, assigned to nobody

[2020-08-25 06:40] bcgv opened #390 "Regression with Julia 1.5"
Following code works on Julia 1.4 but not on Julia 1.5, it fails with this output:

[code]

[code]

<details><summary>Manifest.toml</summary>

[code]

</p>
</details>

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

[2020-08-25 06:44] maleadt commented on #390
Define "does not work", I just tried it locally without any compilation error. Please provide error message, stack traces, etc.

[2020-08-25 07:00] bcgv commented on #390
Sorry I forgot.

[2020-08-25 07:43] maleadt opened #391 "Tracker: Float16 support"
This issue is meant to be an overview / track progress on supporting Float16 in CUDA.jl

## Library APIs

We'll be able to do a lot already if we just dispatch to the correct library calls, e.g., `cublasHgemm` for half-precision, or `cublasGemmEx` with appropriate CUDA datatypes set. Note that this requires a matching math mode, https://docs.nvidia.com/cuda/cublas/index.html#cublassetmathmode, so

[2020-08-25 09:41] maleadt commented on #390
[code]

This is an unsupported combination. Please use LLVM 9 for now.

[2020-08-25 09:41] #390 closed, assigned to nobody

[2020-08-25 11:42] maleadt commented on #311
This should be working now (except for an OOB error in the MWE), so I added a test in https://github.com/JuliaGPU/CUDA.jl/pull/392

[2020-08-25 11:42] #311 closed, assigned to nobody

[2020-08-25 13:11] maleadt commented on #139
This works now.

[2020-08-25 13:11] #139 closed, assigned to nobody

[2020-08-25 13:42] maleadt commented on #350
This looks like an inference change in the `throwdm` method, which we can't easily override or work around. Since device-side broadcast generally doesn't work, I don't feel like redefining the entire broadcast machinery to get rid of that specific error...

[2020-08-25 13:42] #350 closed, assigned to nobody

[2020-08-25 13:44] maleadt commented on #236
Should be fixed again.

[2020-08-25 13:44] #236 closed, assigned to nobody

[2020-08-25 13:47] #163 closed, assigned to nobody

[2020-08-25 13:48] #162 closed, assigned to nobody

[2020-08-25 13:49] #153 closed, assigned to nobody

[2020-08-25 13:50] #147 closed, assigned to nobody

[2020-08-25 13:52] #117 closed, assigned to nobody

[2020-08-25 13:53] maleadt commented on #105
https://github.com/JuliaGPU/GPUArrays.jl/pull/308

[2020-08-25 13:53] #105 closed, assigned to nobody

[2020-08-25 13:54] maleadt commented on #90
https://github.com/JuliaGPU/GPUArrays.jl/pull/309

[2020-08-25 13:54] #90 closed, assigned to nobody

[2020-08-25 13:56] maleadt commented on #87
[code]

[2020-08-25 13:56] #87 closed, assigned to nobody

[2020-08-25 13:59] maleadt commented on #16
https://github.com/JuliaGPU/CUDA.jl/pull/253

[2020-08-25 13:59] #16 closed, assigned to nobody

[2020-08-25 13:59] maleadt commented on #15
Haven't seen this anymore, and the test is active again.

[2020-08-25 13:59] #15 closed, assigned to nobody

[2020-08-25 14:04] maleadt commented on #343
Bit of a late comment, and we've discussed some of this on the call already. Basically there's not much of a design philosophy from the CUDA.jl side of things; we just aim to expose the CUDNN functionality (staying close to the CUDNN interface, but raising the abstraction level where possible), and use it to implement interfaces like NNlib's. So I guess the real discussion would be how to structur

[2020-08-25 16:26] vchuravy commented on #391
Regarding intrinsics, one can also write readable Julia code instead of having to embed assembly: https://github.com/vchuravy/IEEEFloat16.jl/blob/547179b21aa56f19c161029488a1a95563f191a9/src/cuda.jl#L23-L29, but it is still a lot of work to implement and check everything. In the example above I haven't added the fixup checks, because Keno and I were confused about accuracy provided and the fixups

[2020-08-25 20:29] marius311 commented on #350
For posterity, a solution I found (mentioned on Slack) was to replace the broadcast

[code]

with

[code]

Understandable not to want to mess with it esp. since it has workarounds, but IMO its a pretty convenient feature to have, so if an easy path to get it back in the future presented itself, I think it'd be worth doing.

[2020-08-25 22:19] nmheim commented on #322
First, thank you for `CUDA.jl`! Its really great and making my life a lot easier! :)

Although #351 looks like it fixed this issue, if I run the script above
[code]
I am getting:
[code]
I am on CUDA.jl v1.3.3 and julia 1.5:
[code]

[2020-08-26 06:00] maleadt commented on #322
This has not been merged in 1.3.x, since it drops support for CUDA 10.1 and earlier.

[2020-08-26 16:45] protogeezer opened #396 "Can't precompile CUDA.jl on Kubuntu 20.04"
The issue seems to be that the package manager is installing CUDA 0.1
2019 HP laptop
Julia 1.5.1
NVidia Driver 440.1 CUDA 10.2
GTX 1650 (Compute 7.5)
================
julia> using CUDA
[ Info: Precompiling CUDA [052768ef-5323-5732-b1bb-66c8b64840ba]
ERROR: LoadError: LoadError: LoadError: UndefVarError: AddrSpacePtr not defined
================
Please let me know if there is anything more I can do

[2020-08-26 20:26] maleadt commented on #396
You probably have another package holding back CUDA 1.x. Try explicitly installing a newer version and look at the error.

Please format your bug report next time. And since this isn't a bug, it's better to use Discourse or Slack for such support questions.

[2020-08-26 20:26] #396 closed, assigned to nobody

[2020-08-27 05:53] denizyuret commented on #343
Who is the decider on this?

I assume you mean the intermediate level between the automatically generated low-level cudnn calls and the NNlib functions? From existing examples I see the same function names kept, but long argument lists replaced with CuArrays etc. If we could agree on a standard I can work on this.

[2020-08-27 07:17] maleadt commented on #343
NNlib maintainers?

Yeah, the CUBLAS wrappers are a better example here: `libcublas.jl` for the autogenerated stuff, `wrappers.jl` with low-level but much more user-friendly functionality (using multiple dispatch, array types, e.g., `scal!(..., ::CuArray{T}`) dispatching to `cublasSscal_v2` or `cublasDscal_v2`), and then various integrations like `linearalgebra.jl` which use said low-level wrapper

[2020-08-27 12:12] denizyuret opened #397 "CuPtr should be Ptr in cudnnGetDropoutDescriptor"
https://github.com/JuliaGPU/CUDA.jl/blob/892e649670781e1119ae4d54caf548a4a8c4de40/lib/cudnn/libcudnn.jl#L1355

[2020-08-27 23:43] andevellicus opened #398 "CUDA throws OOM error when initializing API on multiple devices"
I have a K80 with two cores, and usually what I'll end up doing is training different models simultaneously and independantly, one on each core. Since I deal with 3D images, I usually run pretty close to the limit for each core. Recently, while I've been running a model on one core, I'll get an OOM error when trying to specify the second device using CUDA.device!(1) despite the fact that the secon

[2020-08-28 06:22] maleadt commented on #398
You're not using the other device exclusively, the Knet code in your stack trace initializes a context for all devices. This is bad behavior on Knet's side, because it allocates a context and initializes memory for every device upon package load time, which (as observed here) easily consumes 100-200 MB of device-memory per device. cc @denizyuret

[2020-08-28 06:22] #398 closed, assigned to nobody

[2020-08-28 06:26] maleadt commented on #398
Specifically, @denizyuret, don't do this: https://github.com/denizyuret/Knet.jl/blob/2754cd6d4f61d5e509810461d8dcafb5efa2f79e/src/Knet.jl#L18-L19

Doing a `device!` during `__init__` is bad, because of the memory it uses (i.e. this issue). Resetting the device there is even worse: it kills any existing allocations, making it impossible to import Knet later in the program, or use it in collaboratio

[2020-08-28 08:00] denizyuret commented on #398
@maleadt What is the workaround? (This is important on clusters where an 8 GPU
machine may have 6 of its GPUs busy and you want to find the 7th one).
To avoid the problems you mention I had reverted to using nvml calls. NVML is not supported in all OSs but it is in linux which is what most clusters use. Maybe I can go back to NVML?

On Fri, Aug 28, 2020 at 9:27 AM Tim Besard <notifications@github.

[2020-08-28 08:14] maleadt commented on #398
There is no workaround. Don't initialize the device if you don't need it.

NVML is not only not available on all platforms, but many users don't have it installed, and since it comes with the driver we can't provision it using artifacts. So I'd try NVML (CUDA.jl has wrappers for it), but if it isn't available just trust what CUDA selected as primary device, which is already heuristic-driven.

[2020-08-28 08:32] maleadt commented on #398
e.g. our tests do the following (which is a more complicated heuristic because it also looks at compute capability): https://github.com/JuliaGPU/CUDA.jl/blob/892e649670781e1119ae4d54caf548a4a8c4de40/test/runtests.jl#L119-L159

But I'd leave out the `!has_nvml()` fallback to avoid this issue here.

[2020-08-28 09:57] maleadt commented on #397
And `states` should be a `CuPtr`, right? Feel free to directly edit this, both in `libcudnn.jl` and in the `pointer.json` (used during wrapper generation).

[2020-08-28 12:09] andevellicus commented on #398
Thanks for looking at it, sorry to have misplaced it.

[2020-08-28 12:41] maleadt commented on #398
No problem. Come to think of it, there is a workaround (which isn't usable by Knet though): define `CUDA_VISIBLE_DEVICES=...` in your environment before launching Julia. That way, Knet won't be able to initialize the other devices, and trigger the OOM.

[2020-08-28 17:41] xaellison opened #401 "Cannot launch kernel with > 5 args using Dynamic Parallelism"
**Describe the bug**

I have a kernel with 6 args. If I launch it directly from the host, it works. If I try to launch it from another kernel, it fails. The same configuration can launch a 5-arg kernel using dynamic parallelism. I've stripped these kernels until they could not be more minimal, and the error seems to have to do with invocation.

The reported error is `unsupported dynamic function i

[2020-09-01 18:02] denizyuret commented on #397
I cannot seem to locate the pointer.json file. Can you explain how wrappers are generated so my fixes don't disappear when we generate wrappers for the next cudnn version? I found another issue with `cudnnMultiHeadAttnForward` at libcudnn.jl:1991 -- the first two pointers should be `CuPtr`s.

[2020-09-02 11:45] vchuravy commented on #397
https://github.com/JuliaGPU/CUDA.jl/blob/master/res/wrap/pointers.json and https://github.com/JuliaGPU/CUDA.jl/tree/master/res/wrap has docs.

[2020-09-02 14:19] charleskawczynski commented on #355
This doesn't seem like the right way of fixing this problem.

I'm running into this again after updating CUDA.
[code]

[code]

@maleadt I'm on Windows 10 Home.

[2020-09-02 14:45] maleadt commented on #355
Please inspect the dependencies then, as listed higher up.

[2020-09-02 15:17] charleskawczynski commented on #355
Per [Dependencies](https://github.com/lucasg/Dependencies) documentation:

Once installing Visual C++ Redistributable, I'm able to `using CUDA`. Will installing Visual C++ Redistributable affect what Dependencies reports?

[2020-09-02 15:19] charleskawczynski commented on #355
I am seeing some `?` display entries:

![image](https://user-images.githubusercontent.com/1880641/92002594-dea8c800-ecf4-11ea-8e98-133c008bb074.png)

but the top window looks clear of issues AFAICT

![image](https://user-images.githubusercontent.com/1880641/92002726-06982b80-ecf5-11ea-81b4-b4b8e20fbe7d.png)

[2020-09-02 15:42] maleadt commented on #355
So installing the Visual C++ Redistributable fixed it? Isn't that exactly what the CUDA.jl error suggested? Or what did you mean with 'This doesn't seem like the right way of fixing this problem.'?

[2020-09-02 16:05] charleskawczynski commented on #355
Yes, and yes.

I was thinking that everything should be shipped with `] add CUDA`. Sorry for the noise, I'm not very familiar with how the installation/deps work.

[2020-09-02 16:07] maleadt commented on #355
Ah, ok, no that makes sense but I don't think we have that readily available yet (and I thought that the VC C++ redistributable is a common thing to request users to install).

@giordano @staticfloat Do we have the VC C++ redistributable packaged up somehow?

[2020-09-02 16:37] staticfloat commented on #355
No, we don't.  I think the best solution here would be to auto-determine that it doesn't exist, and if that is the case, download and run this executable: https://aka.ms/vs/16/release/vc_redist.x64.exe

I think using the actual executable to install the libraries is better than us trying to do it with a JLL, since these are pretty common libraries and it's better for the user to get them in the wa

[2020-09-02 16:40] giordano commented on #355
Shameless self-plug: https://github.com/giordano/DependencyWalker.jl can be useful to debug why a library can't be loaded

[2020-09-03 14:53] maleadt commented on #322
https://github.com/JuliaGPU/CUDA.jl/pull/409 should fix most of the issues reported here, please test. Do note that you need to exactly match up array types, many of the scalar iterations reported here were due to combining e.g. a Float32 and Float64 array. We could improve that, of course, but let's just get the missing functionality back first.

[2020-09-03 15:28] #397 closed, assigned to nobody

[2020-09-03 18:25] #401 closed, assigned to nobody

[2020-09-04 11:44] maleadt commented on #155
This works now.

[2020-09-04 11:44] #155 closed, assigned to nobody

[2020-09-04 14:59] #98 closed, assigned to kshyatt

[2020-09-04 15:25] #322 closed, assigned to nobody

[2020-09-04 15:25] #113 closed, assigned to nobody

[2020-09-04 15:25] #216 closed, assigned to nobody

[2020-09-04 15:26] #146 closed, assigned to nobody

[2020-09-05 06:35] maleadt opened #410 "Reverse performance regression"
https://github.com/JuliaGPU/CUDA.jl/pull/404 has regressed performance of reverse.

https://speed.juliagpu.org/timeline/#/?exe=4&base=3+74&ben=array/reverse/1d&env=1&revs=50&equid=off&quarts=on&extr=on

[2020-09-06 03:43] ChrisRackauckas opened #412 "Tag for LLVM 3?"
https://github.com/JuliaGPU/CUDA.jl/blob/master/Project.toml#L38 master seems to support LLVM 3 while https://github.com/JuliaGPU/CUDA.jl/blob/v1.3.3/Project.toml the latest release does not and this gives issues with trying to use KernelAbstractions.jl + DataStructures v0.18

[2020-09-07 15:40] maleadt commented on #412
CUDA#master is currently very breaking, so I don't intend to release anything soon. Besides, the next release is probably going to be 1.6 only, so no users are going to be able to use it for months.

Why do you need LLVM 3? No package depends on it?

[2020-09-07 15:42] ChrisRackauckas commented on #412
KernelAbstractions.jl seems to not allow LLVM 2. @vchuravy  https://github.com/JuliaGPU/KernelAbstractions.jl/blob/v0.3.3/Project.toml#L19

[2020-09-08 06:43] Flock1 opened #415 "CUDA not working"
Hi,

I am very new to Julia, hence please don't mind the naiveness of the query. I have installed Julia and installed the CUDA package. However, when I try to test or check the version, I get an error:
[code]
What should I do? NVIDIA driver and CUDA are installed on my machine.

[2020-09-08 08:10] maleadt commented on #415
[code]

It doesn't find `libcuda`, are you sure the NVIDIA driver is properly installed?
And you don't need to install CUDA, CUDA.jl will provide its own.

[2020-09-08 12:42] Flock1 commented on #415
I think it's installed properly because this is what I get when I run `nvidia-smi`:
[code]

[2020-09-08 14:50] maleadt commented on #415
`nvidia-smi` working is unrelated to `libcuda` availability. Did you look in your system for `libcuda`? It needs to be installed in a location that can be found by the dynamic linker, if not your system is badly configured (i.e. `Libdl.find_library("libcuda")` should return something). You can force a directory to be searched in by setting `LD_LIBRARY_PATH`, but generally you need an entry in `/et

[2020-09-08 15:21] Flock1 commented on #415
I search for `libcuda` and these are some of the results I got:
[code]

[2020-09-08 15:40] maleadt commented on #415
Please try my other suggestions...

[2020-09-08 15:52] Flock1 commented on #415
For `Libdl.find_library("libcuda")`, I got this output:
`bash: syntax error near unexpected token '"libcuda"'`

[2020-09-08 16:48] maleadt commented on #415
That's a Julia command. https://docs.julialang.org/en/v1/stdlib/Libdl/#Libdl.find_library
Open a REPL and start with `using Libdl`

[2020-09-08 17:14] Flock1 commented on #415
Hey, apologies. I am so new to Julia that keep using `import` instead of `using`.

This is what I got when I ran the command: `""`.

My `LD_LIBRARY_PATH` is set to `:/usr/lib/i386-linux-gnu/libcuda.so`

[2020-09-08 18:48] maleadt commented on #415
That's wrong, you should set it do the directory. Furthermore, CUDA is only supported on 64-bit, so you need to use the other directory.

And finally, the LD_LIBRARY_PATH is a temporary solution. `/usr/lib/x86_64-linux-gnu` should have been added to the library search path persistently with an entry in `/etc/ld.so.conf.d`

Since neither of these are Julia or CUDA.jl issues, I'll close this issue.

[2020-09-08 18:48] #415 closed, assigned to nobody

[2020-09-09 13:54] maleadt commented on #391
Ref https://github.com/JuliaGPU/CUDA.jl/pull/417, which adds Float16/BFloat16 and mixed-precision support to gemm

[2020-09-09 14:16] maleadt commented on #391
And just to demonstrate why we need `half`/IEEEFloat16:

[code]

Nice and tidy. Let's try `Float16`:

[code]

welp.

[code]

Much better. But the API coverage is insufficient. I wonder if we should try and use `IEEEFloat16` automatically via an Adapt rule.

[2020-09-09 14:44] vchuravy commented on #391
Yeah I think that should work, and API coverage is tedious but straightforward.

[2020-09-09 15:26] maleadt commented on #391
I'm going to revisit `half` + that LLVM patch first.

[2020-09-09 17:57] vchuravy commented on #412
Fixed by KA 0.4

[2020-09-09 17:57] #412 closed, assigned to nobody

[2020-09-10 09:15] N5N3 opened #420 "Prevent CUDA.@cufunc to transform the type's Int parameter to Int32."
At present `CUDA.@cufunc` transform all the Int in the function definition, including the `Int` parameter of type like `SMatix{3,3,T,9} where T`(`StaticArrays.jl` only allow Int parameter to define the size.)

As a result, if we want tranform a `NTuple{9,T}` to `SMatix{3,3,T,9}`, we have to predefine the `const type1{T} = SMatix{3,3,T,9}` outside the `CUDA.@cufunc`ed function, or write `SMatix{Int

[2020-09-11 19:42] DanaGalizia opened #422 "Pkg.test error for cutensor test on Windows"
I'm getting a failure of the cutensor test when I run Pkg.test("CUDA") after installing the package.

[code]
The output of this is then:

[code]
You can see the first signs of the error there. After this, there's a bunch of other tests that run fine. Then at the end of the test, there are hundreds (to the point where I can't even see them all in the REPL window) of error reports that seem to be mo

[2020-09-14 15:14] sdewaele opened #426 "`StatsBase.transform` fails on `CuArray`"
The following code fails on a `CuArray`:
[code]

<details><summary>Error message</summary>
<p>

[code]

</p></details>

This condensed reproduction of the `transform!` code may facilitate debugging:
[code]
The error occurs on [this line](https://github.com/JuliaStats/StatsBase.jl/blob/ec33334161a8702bbc757b65da986e839ffd2cee/src/transformations.jl#L165) in `StatsBase.transform!`.

I know that it i

[2020-09-14 15:23] sdewaele commented on #426
I figured it out myself - the issue is caused by the fact that the transform mean and scale are on the CPU. When I transfer them to the GPU with `cu`, it works.

[2020-09-14 15:23] #426 closed, assigned to nobody

[2020-09-14 22:25] xaellison commented on #93
I have an implementation of quicksort which may be of interest. It uses dynamic parallelism and gets pretty good thread usage  when partitioning. On my machine, for random input, it slightly outperforms sorting a `CuArray` compared to sorting the equivalent `Array` on the host (so it would really beat transferring to host, sorting, and transferring back).

Using @maleadt 's implementation above fo

[2020-09-15 09:45] maleadt commented on #93
That's great! Please do open a branch, even if it's an initial version. We can still do development there.

Going back to the bitonic timings from @wongalvis14, which are another order of magnitude better, maybe we should dispatch at run-time based on the input sizes.

[2020-09-15 10:13] wongalvis14 commented on #93
@xaellison I'm curious what's your approach to efficiently use dynamic parallelism. In my experience with CUDA it introduces way too much overhead during run-time that turns any efficient algorithm inefficient.

[2020-09-15 22:33] xaellison commented on #93
@maleadt was about to commit when Github told me I need to be authorized if you don't mind setting me up.

@wongalvis14 Each quicksort kernel only launches one kernel (partition) that it needs to wait on. Partition happens in default stream (no stream arg is provided). Recursive quicksort kernels are launched on their own streams but aren't explicitly waited on. A lot of work happens in the quicks

[2020-09-16 03:25] btmit opened #430 "FFT of strided array"
The following code works as expected for single dimension arrays. It returns a view into the complex `scratch` array where I'm indexing the underlying Float32 values. I can operate on that view like any other CuArray type.

[code]

`CuArray{Float32,1}`

However, when I extend this idea to an N-D array, there is a bug where the returned type is the CPU object `SubArray.` This causes subsequent oper

[2020-09-16 13:46] vchuravy commented on #93
You will need to fork the project, into your own account and push to there. Then you can open a PR.

[2020-09-16 16:50] #410 closed, assigned to nobody

[2020-09-16 18:22] maleadt commented on #410
https://speed.juliagpu.org/timeline/#/?exe=4&base=3+74&ben=array/reverse/1d&env=1&revs=50&equid=off&quarts=on&extr=on :rocket:

[2020-09-16 18:22] #220 closed, assigned to kshyatt

[2020-09-16 20:35] #354 closed, assigned to nobody

[2020-09-16 23:34] kbarros opened #432 "Further unification of `CUBLAS.axpy!` and `LinearAlgebra.BLAS.axpy!`"
I'm interested in using `axpy!` with strides that differ from 1. Both BLAS and CUBLAS provide this functionality.

For CPU arrays, the method is defined in `LinearAlgebra.BLAS.axpy!` [here](https://github.com/JuliaLang/julia/blob/master/stdlib/LinearAlgebra/src/blas.jl#L554-L573)

For CUDA arrays, the equivalent method is defined in `CUBLAS.axpy!` [here](https://github.com/JuliaGPU/CUDA.jl/blob/ma

[2020-09-17 02:02] btmit commented on #430
Looking into this a bit more, it appears the problem is probably with `view()` and has nothing to do with `reinterpret()`.

[2020-09-17 09:00] maleadt commented on #430
`SubArray` isn't a CPU object; as you can see this is a `SubArray{<:CuArray}`, so resides on the GPU. This is not a bug, but happens when you take a non-contiguous view. Those are expected to be slower: no dispatch to CUBLAS, no memory coalescing in kernels, etc.

[2020-09-17 09:03] maleadt commented on #432
I've been wary extending `LinearAlgebra.BLAS` methods; they aren't public API, and rather seem to be the low-level wrappers for the CPU BLAS libraries Julia ships. CUBLAS only implements a subset, where the behavior is sometimes different.

Instead, why not a method for `LinearAlgebra.axpy!` implemented using `CUBLAS.axpy!`?

[2020-09-17 12:07] btmit commented on #430
You're right, of course. Here was my source of confusion.

ERROR: ArgumentError: cannot take the CPU address of a CuArray{Float32,2}

Furthermore,

 Array{Complex{Float32},2}

[2020-09-17 12:54] maleadt commented on #430
Yeah, that happens because we implement `fft` using `CUFFT`, which doesn't support (or we don't have it wrapped to support) non-contiguous views like yours here. Maybe it could be done through more advanced use of the CUFFT APIs (i.e., passing strides where necessary), and adapting dispatch to accept strided vectors like your SubArray here. Alternatively, collect or adapt your view to get a contig

[2020-09-17 13:43] btmit commented on #430
Thanks. I can't afford the copy operation right now, which was the original motivation. Supporting strided ffts would be enabling for a number of applications. Is this related to #119? That one is really killing us.

Maybe you, @vchuravy, and I can discuss what this would involve directly.

[2020-09-17 16:44] kbarros commented on #432
Makes sense, I understand the concern now.

My aim in using `LinearAlgebra.BLAS.axpy!(n, alpha, dx, incx, dy, incy)` is to specify strides  `incx` and `incy` different from 1. Note that `CUBLAS.axpy!` provides an equivalent method.

Julia's LinearAlgebra module does not document such an `axpy!` method in its public API. This indicates that there's no "official" way to use `axpy!` with arbitrary st

[2020-09-18 10:36] maleadt commented on #432
What about just using `broadcast` on a strided array? It's (somewhat surprisingly) equally fast:

[code]

Alternatively, we could implement `LinearAlgebra.axpy!` for a strided CuArray (without having to pass those explicitly) and have it dispatch to CUBLAS.

[2020-09-18 16:25] kbarros commented on #432
Thanks for your help with this. I think my confusion arose from from the fact that `LinearAlgebra.BLAS.axpy!(n, alpha, dx, incx, dy, incy)` is not part of the public API, but many similar lower-level `LinearAlgebra.BLAS` routines _are_. Since that's a Julia stdlib question, I filed a [separate issue](https://github.com/JuliaLang/LinearAlgebra.jl/issues/767).

[2020-09-19 06:36] maleadt commented on #432
The issue you filed ignores my question though: why can't you use `LinearAlgebra.axpy!` with a StridedArray (which could then dispatch to any BLAS if possible)? No need for a `strides` argument.

[2020-09-20 00:23] kbarros commented on #432
Interesting idea. Here's what I've tried so far:

[code]

(v1) It's awesome that we can just write the naive broadcasting code, and it runs fast!

(v2) I prefer the `axpy!(n, alpha, dx, incx, dy, incy)` variant because it allocates less, and is closest to the [actual `axpy` routine in BLAS](http://www.netlib.org/lapack/explore-html/d8/daf/saxpy_8f.html).

(v3) The final version with strided views

[2020-09-20 17:21] kbarros commented on #432
I am reopening, because on further reflection, I think @maleadt 's point is correct: Ideally, `LinearAlgebra.axpy!` would accept strided views of `CuArray`s. This seems to be also the intention behind the design of Julia's stdlib.

[2020-09-21 10:36] samo-lin opened #434 "size(range), length(range) and range[end] fail inside CUDA kernels"
The following basic code using UnitRange works and shows that ranges are supported inside CUDA kernels:
[code]

However, e.g. `size(range,1)` and `range[end]` fails inside CUDA kernels, e.g. the following codes fail:
[code]
[code]

The error is the following for `size(range,1)`:
[code]

The error is the following for `range[end]`:
[code]

CUDA-jl version used is: v1.1.0

[2020-09-21 11:09] maleadt commented on #432
See https://github.com/JuliaGPU/CUDA.jl/issues/432.

[2020-09-21 11:18] maleadt commented on #434
https://github.com/JuliaGPU/CUDA.jl/issues/434

[2020-09-21 11:31] maleadt commented on #212
https://github.com/JuliaGPU/CUDA.jl/issues/212 should work around this for now, but (from another user report) turns out to be a dup of https://github.com/JuliaGPU/CUDA.jl/issues/340.

[2020-09-21 11:54] samo-lin commented on #434
@maleadt , you noted #434, however this is this very issue; I suppose you wanted to note another one here.

Thanks for working on this!

[2020-09-21 11:55] maleadt commented on #434
Hah, yeah. Meant to link to https://github.com/JuliaGPU/GPUCompiler.jl/pull/81

[2020-09-21 14:01] #318 closed, assigned to nobody

[2020-09-21 15:29] #212 closed, assigned to nobody

[2020-09-21 15:53] jakebolewski commented on #293
Haven't seen it in a while but another error noticed int the wild with CUDA 10.0 runtime
https://buildkite.com/clima/climatemachine-ci/builds/361#25bd08e1-0b9e-4369-be8c-f84985c872d0/373-380

Julia 1.4.2
CUDA 1.3.3
GPUCompiler 1.4.1
LLVM 1.7.0

[2020-09-21 19:30] jakebolewski commented on #293
And a new related error today about the bitcode file being too small:

https://buildkite.com/clima/climatemachine-ci/builds/366#df448b5a-73e2-4599-b766-b62a2e7dabae/373-375

[2020-09-22 05:56] #432 closed, assigned to nobody

[2020-09-22 06:09] maleadt commented on #293
Maybe https://github.com/JuliaGPU/GPUCompiler.jl/pull/82 will fix this; is there an easy way to try? I could always tag a release that includes the 'fix'.

[2020-09-22 07:30] #434 closed, assigned to nobody

[2020-09-22 07:51] samo-lin commented on #434
Thanks @maleadt !

[2020-09-22 15:45] jakebolewski commented on #293
@maleadt I think this is a good change, however I don't know if it fully addresses the cluster / parallel file systems use case.

`tmp` and the `depot` paths might be on different mount points which doesn't guarantee an atomic update with `mv`.  I think for the guarantee to hold the tmp directory must be in the same directory as the written runtime file in general (which would ensure they are on t

[2020-09-22 15:48] jakebolewski commented on #293
Ex. if depot is on a shared NFS / GPFS mount point and tmp was mapped to a local ex4 filesystem, there is no guarantee I think that mv will be atomic when crossing the filesystem ext4 <-> parallel file system boundary.

[2020-09-22 16:06] maleadt commented on #293
I see. https://github.com/JuliaGPU/CUDA.jl/issues/293 should be a better fix then, if you don't mind a warning.

EDIT: all this assuming the errors comes from that code patch. Hard to tell lacking a back trace.

[2020-09-23 05:55] #293 closed, assigned to nobody

[2020-09-23 16:05] maleadt opened #440 "Hostcall"
We should have a hostcall interface, as it'll enable many future developments (I/O, GC, etc). Probably needs both a blocking and non-blocking version, and maybe the ability to queue up multiple calls concurrently?

Some resources:
- https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=6678904
- https://www.cs.yale.edu/homes/abhishek/jvesely-isca18.pdf

[2020-09-24 16:02] #365 closed, assigned to nobody

[2020-09-24 19:02] jonathan-laurent opened #446 "InitError: Cannot use memory pool 'binned' when CUDA.jl was precompiled for memory pool 'split'."
I got the following error when using my AlphaZero.jl package with CUDA v1.3.3:

[code]

Does this mean that it is no longer possible to alternate between different types of memory pools by running the same program with different values for `JULIA_CUDA_MEMORY_POOL`?

[2020-09-24 19:41] maleadt commented on #446
Correct, you need to precompile again. This as part of the (ongoing) effort to speed up the memory allocator, and make the `alloc` function somewhat simpler. The whole idea of multiple memory pools is hopefully going away at some point too, we just need one reasonably fast implementation (if necessary tunable).

[2020-09-24 19:41] #446 closed, assigned to nobody

[2020-09-24 19:52] Martyn-R opened #447 "CUBLASError: the GPU program failed to execute"
While running the AlphaZero connect-four tutorial (https://jonathan-laurent.github.io/AlphaZero.jl/dev/tutorial/connect_four/), I receive the following error message:

```ERROR: LoadError: CUBLASError: the GPU program failed to execute (code 13, CUBLAS_STATUS_EXECUTION_FAILED)```

The author of AlphaZero.jl asked me to report the error here.   The stack trace is at the end of this post.

**To repr

[2020-09-25 06:01] maleadt commented on #447
This is possible due to a bug in CUDA; from their 11.1 release notes:
[code]

Does it reproduce consistently?

[2020-09-25 13:36] Martyn-R commented on #447
Seems consistent yes: five out of five times.   Do you recommend to upgrade to 11.1?

[2020-09-25 14:40] maleadt commented on #447
You can try to see if it fixes your problem, there's a PR here, but beware that (1) the current master branch of CUDA is slightly breaking, and (2) there's no CUDNN or CUTENSOR artifacts for CUDA 11.1 yet.

[2020-09-25 16:31] simonbyrne commented on #293
Would it be possible to have a manual `init()` function that we could use to trigger this?

[2020-09-25 19:37] vchuravy commented on #293
You should be able to call `CUDA.load_runtime(v"7.0")` (https://github.com/JuliaGPU/CUDA.jl/blob/9ee41f6c6e56b90faf2d92944449a4065655da58/src/device/runtime.jl#L10). where `v"7.0"` is for `sm_70`

[2020-09-25 20:43] jakebolewski commented on #293
Would an overload like:

[code]
be a reasonable addition?  It seems like this would be a common way to pre-initialize the runtime for an HPC batch job with a shared depot.

[2020-09-26 07:02] maleadt commented on #293
Sure, yes. I do something similar here: https://github.com/maleadt/julia-ngc/blob/8e6117fc5d4b2672c1a8d90a78fc79623b5b7692/Dockerfile#L31-L37

That said, I'd also be curious to see if recent changes have fixed this issue for you.

[2020-09-27 10:39] ChrisRackauckas opened #448 "Missing dispatch for matrix multiplication with views?"
[code]

[code]

[2020-09-27 10:59] ChrisRackauckas commented on #448
The workaround https://github.com/SciML/DiffEqFlux.jl/pull/420 should get removed when this is fixed.

[2020-09-28 07:12] ChrisRackauckas commented on #448
It hits BLAS on v1.5 with https://github.com/JuliaLang/julia/pull/34729

[2020-09-28 08:24] hgt312 commented on #92
Hi! Does someone know what cause this problem?

[2020-09-28 09:54] maleadt commented on #92
Nope, not sure what's up here. The inputs look OK, but the documentation mentions:

@denizyuret do you know what's up here?

[2020-09-28 11:11] #78 closed, assigned to nobody

[2020-09-28 11:11] #448 closed, assigned to nobody

[2020-09-28 12:15] VarLad opened #452 "New version not available yet?"
I can't use CUDA.jl.
![Screenshot from 2020-09-28 17-38-25](https://user-images.githubusercontent.com/51269425/94430541-b86e2f00-01b1-11eb-9e90-2338bbf2635a.png)
![Screenshot from 2020-09-28 17-42-20](https://user-images.githubusercontent.com/51269425/94430731-03884200-01b2-11eb-8656-920f9d7bf7fe.png)
![Screenshot from 2020-09-28 17-43-06](https://user-images.githubusercontent.com/51269425/9443083

[2020-09-28 13:01] maleadt opened #453 "Use of array wrappers & unions regress load time"
Previously we were using a `CuArray` type that could represent a view, reshape, reinterpret, etc. For the sake of simplicity, I switched to a simpler `CuArray` type while reusing `Base.SubArray`, `Base.ReshapeArray`, etc. That requires use of type unions to, e.g., represent all dense or strided `CuArray`s: https://github.com/JuliaGPU/CUDA.jl/blob/75f7d309b6d2b757dcdbe901049d89296b9284a7/src/array.

[2020-09-28 13:04] hgt312 commented on #92
I meet the same problem and just find the reason.

refer to https://docs.nvidia.com/deeplearning/cudnn/developer-guide/index.html#scaling-parameters, `alpha` and `beta` should be float type on host memory

in file: https://github.com/JuliaGPU/CUDA.jl/blob/master/lib/cudnn/conv.jl#L154-L156

[2020-09-28 13:21] maleadt commented on #452
Working on it, expect a release today or tomorrow.

[2020-09-28 13:21] #452 closed, assigned to nobody

[2020-09-28 14:36] denizyuret commented on #92
If alpha/beta are the problem [here ](https://github.com/denizyuret/Knet.jl/blob/01ea152f4734fedad945079a6a626e4db93d9c67/src/cudnn/common.jl#L50)is the little function I wrote that converts Real values to appropriate alpha/beta containers.

[2020-09-28 14:39] maleadt commented on #92
See https://github.com/JuliaGPU/CUDA.jl/pull/454, I think it's good to be more strict and catch future issues sooner.

[2020-09-28 16:37] maleadt opened #456 "Runtime build improvements"
- API to build for all targets (for containers?)
- build at package install time?

[2020-09-29 06:06] gzhang opened #457 "using CUDA or CUArray, output: UndefVarError: AddrSpacePtr not defined"
julia> using CUDA
[ Info: Precompiling CUDA [052768ef-5323-5732-b1bb-66c8b64840ba]
ERROR: LoadError: LoadError: LoadError: UndefVarError: AddrSpacePtr not defined
Stacktrace:
 [1] getproperty(::Module, ::Symbol) at .\Base.jl:26
 [2] top-level scope at C:\Users\gzhang\.julia\packages\CUDA\5t6R9\src\device\cuda\wmma.jl:52
 [3] include(::Function, ::Module, ::String) at .\Base.jl:380
 [4] include at

[2020-09-29 06:07] maleadt commented on #447
You can now try CUDA 11.1 with CUDA.jl#master by specifying `JULIA_CUDA_VERSION=11.1` in your environment

[2020-09-29 06:08] maleadt commented on #457
[code]

Ancient version, unsupported on Julia 1.5. Probably being help back by having CuArrays.jl installed, remove the latter first.

[2020-09-29 06:08] #457 closed, assigned to nobody

[2020-09-29 16:44] VarLad commented on #452
Great!
I hope it comes along fast, the update.

[2020-09-30 05:40] gzhang opened #459 "Unable to upgrade to the latest version"
(@v1.5) pkg> up CUDA
   Updating registry at `C:\Users\gzhang\.julia\registries\General`
   Updating git-repo `https://github.com/JuliaRegistries/General.git`
  Installed IJulia ──────────── v1.21.4
  Installed DiffEqSensitivity ─ v6.32.0
No Changes to `C:\Users\gzhang\.julia\environments\v1.5\Project.toml`
Updating `C:\Users\gzhang\.julia\environments\v1.5\Manifest.toml`
  [41bf760c] ↑ DiffEqSens

[2020-09-30 05:58] maleadt commented on #459
Not a bug. Some package is holding back CUDA.jl, try `add CUDA@1.3.3` to see why.

For support questions, please use Discourse or Slack, not the bug tracker.

[2020-09-30 05:58] #459 closed, assigned to nobody

[2020-09-30 06:15] gzhang commented on #459
@maleadt OK, ths. it is fixed.

(@v1.5) pkg> add CUDA@1.3.3
  Resolving package versions...
  Installed Lathe ──────────── v0.0.9
  Installed Juno ───────────── v0.8.4
  Installed NeuralPDE ──────── v2.3.0
  Installed DiffEqFlux ─────── v1.23.0
  Installed Atom ───────────── v0.12.23
  Installed Optim ──────────── v1.2.0
  Installed Zygote ─────────── v0.5.8
  Installed ModelingToolkit ── v3.20.1

[2020-09-30 06:16] maleadt commented on #459
Great. Some comments:
- please use triple backticks when posting output like that
- don't have CUDA.jl co-installed with CuArrays/CUDAnative/CUDAdrv/CUDAapi (it got removed here, but that was likely what was holding CUDA.jl back)

[2020-09-30 16:35] simonbyrne commented on #293
@jakebolewski can you open a PR for that?

[2020-10-01 04:13] simonbyrne opened #461 "Strange behaviour with broadcasting and slicing"
**Describe the bug**

There appears to be a bug when broadcasting over a non-unit-strided slice, and assigning to another slice.

**To reproduce**

[code]
gives
[code]

Running with `cuda-memcheck` and `-g2 --check-bounds=yes` gives
[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

It should print an array of `-1.0`s

**Version info**

Details o

[2020-10-01 08:55] #461 closed, assigned to maleadt

[2020-10-01 16:52] simonbyrne commented on #461
Thanks!

[2020-10-02 10:23] VarLad opened #462 "Can't update"
![Screenshot from 2020-10-02 15-50-36](https://user-images.githubusercontent.com/51269425/94913672-4a827a00-04c7-11eb-8241-6a19d8355dc7.png)
can't update to the latest version of CUDA.jl

[2020-10-02 10:42] maleadt commented on #462
Not a bug. Flux isn't compatible with CUDA 2.0 yet.

[2020-10-02 10:42] #462 closed, assigned to nobody

[2020-10-02 10:52] maleadt opened #463 "Compiler emits loads from singleton CPU instances"
[code]

[2020-10-02 14:52] maleadt commented on #293
https://github.com/JuliaGPU/CUDA.jl/pull/465

[2020-10-02 15:00] vchuravy commented on #463
I was thinking of adding a mode to switch to `imaging` when running the extern policy. That would mean we get undefined symbols, instead of embedded pointers (and potentially got resolve them to a GPU rtlib)

[2020-10-02 15:05] jakebolewski commented on #293
Thanks! Using `llvm_cap_support` seems cleaner and the method name is better IMO.

[2020-10-02 21:24] shrimpceviche commented on #380
sorry for the late reply, but glad you guys knock it out.

[2020-10-04 10:45] jonas-eschmann opened #467 "Fusing Wrappers"
I would like to apply a Flux model on a large batch of a reshaped view of a CuArray. Using the view or reshape operations in isolation works, but it breaks down when chaining them:
Code with output
[code]
Code to copy & paste
[code]
Actually `CUDA.ones(Float32, 10, 10) * view(CUDA.ones(Float32, 11, 10), 1:10, :)` does not seem to work in `1.3.3` but works in `2.0.0` so I was wondering if the chain

[2020-10-04 10:56] jonas-eschmann commented on #467
It also seems that taking a view of a reshaped CuArray works (in `2.0.0`)
[code]

[2020-10-04 12:38] theogf opened #468 "Error when following example on using multiple GPUs on multiple processes"
As described in the discourse post : https://discourse.julialang.org/t/pmap-with-multiple-gpus/47698
When following the example described in https://juliagpu.gitlab.io/CUDA.jl/usage/multigpu/#Scenario-1:-One-GPU-per-process
this error occurs :
[code]

This is happening with CUDA 1.3.3

[2020-10-05 00:44] IanButterworth opened #469 "MacOS without nvidia GPU is trying to download CUDA111 on julia nightly"
On v1.3.3, v2.0.0 and master, with Julia nightly 1.6.0-DEV.1123 I get the following
Obviously this is a MacOS system with no CUDA compatible GPU, but it's preventing Flux from loading

[code]

[2020-10-05 06:08] maleadt commented on #469
Can't reproduce.

[code]

[2020-10-05 06:10] maleadt commented on #463
That'd be useful. It would regress some codes, as we can e.g. compare against singletons (pointer comparison, not loading from them), but it's probably too risky to emit such pointers and possibly run into cases like this.

[2020-10-05 06:17] maleadt commented on #467
Since we now just re-use Base's wrappers (SubArray, ReinterpretArray, ReshapeArray), this would better suited as a feature request there. It also applies there, where flattening wrappers would allow for more use of CPU BLAS.

Note that view of reshape works in 2.0 because of this type definitions: https://github.com/JuliaGPU/CUDA.jl/blob/b83fc1bf6daae3d31cded09066370ef90ccc262a/src/array.jl#L149-L

[2020-10-05 06:47] maleadt commented on #468
I cannot reproduce. Does this happen consistently? Could you try with CUDA.jl 2.0?
EDIT: ah no I can reproduce on one specific system.

[2020-10-05 09:19] #468 closed, assigned to maleadt

[2020-10-05 15:16] IanButterworth commented on #469
Same happens in a fresh depot, like your example.

@maleadt is your platform triplet the same? Didn't MacOS triplets change recently?

[code]

[2020-10-07 02:26] IanButterworth opened #474 "Drop BinaryProvider?"
I happened to notice that BinaryProvider is a dep in the Project.toml, but not used as far as I can tell

[2020-10-07 06:21] #469 closed, assigned to nobody

[2020-10-07 12:34] #474 closed, assigned to nobody

[2020-10-07 18:29] clintonTE opened #477 "Latest version of master doesn't work on Windows"
**Describe the bug**

The latest version of master broke CUDA on Windows (at least for me). I had used the latest master yesterday without incident, so this is probably #473 or #475. After my code broke, I ran Pkg.test and 3/4 or so of the tests were broken. Just to be sure, I tested on the latest release and it worked fine (a handful of test failures but nothing I think that hasn't been reported

[2020-10-08 05:54] maleadt commented on #477
This isn't related to Windows. You aren't using the Manifest, and there's been a change in CUDA.jl that relies on an unreleased change in GPUCompiler.jl. Try installing that package from the master branch too.

[2020-10-08 05:54] #477 closed, assigned to nobody

[2020-10-08 07:59] clintonTE commented on #477
That worked, thanks. Reference PR #478.

[2020-10-08 19:02] bjosv79 opened #479 "Julia crashes on windows when using CUDA together with a system image"
**Describe the bug**

A compiled system image, with CUDA only, crashes on Windows at runtime. The MWE works fine on Linux, but the issue has been reproduced on multiple Windows computers.

**To reproduce**

The Minimal Working Example (MWE) for this bug:

https://gist.github.com/bjosv79/94e94018e229f2acdd3764d386a9e1be

**Expected behavior**

Same result with and without compiled system image.

**

[2020-10-09 10:03] denizyuret opened #480 "`sum(CUDA.rand(3,3))` broken"
In latest master CUDA.rand returns a `ReshapedArray` and `sum` doesn't seem to like this.

[2020-10-09 10:18] maleadt commented on #480
Works for me.

[code]

[2020-10-09 10:56] maleadt commented on #479
Could you post the actual exception + backtrace?

[2020-10-09 11:00] denizyuret commented on #480
Do you have the latest master for both CUDA and GPUArrays? I have CUDA at 0f1496e GPUArrays at f5272f9
[code]

[2020-10-09 13:44] maleadt commented on #480
Yes, I am. The error you post here now is different, and because you're not using the Manifest or otherwise correctly matching up dependencies.

[2020-10-09 13:59] denizyuret commented on #480
Yes, I typically do:
[code]
And keep working. I am not sure how to juggle the Manifest files of
multiple packages, e.g. when I am developing Knet and trying to test it on
the latest version of CUDA/GPUArrays.

On Fri, Oct 9, 2020 at 4:44 PM Tim Besard <notifications@github.com> wrote:

[2020-10-09 14:02] maleadt commented on #480
You also need GPUCompiler#master currently.

[2020-10-09 14:53] denizyuret commented on #480
Thanks! I will take a look at the Manifest files from now on ;)

[2020-10-09 14:53] #480 closed, assigned to nobody

[2020-10-09 14:58] maleadt commented on #480
Glad it's working again :-) I try not to have to rely on Manifests too much, but some times there's a breaking change in e.g. GPUCompiler that I don't immediately want to tag, so it can be tested a bit.

[2020-10-09 17:33] bjosv79 commented on #479
[code]

[2020-10-09 18:35] jonniedie commented on #457
For me, I had to remove both Flux and DiffEqFlux  as well to get to the current version.

[2020-10-09 19:11] jonniedie commented on #355
It would be nice if there was a way to do this without the MS executable, as that requires admin privileges.

[2020-10-10 11:41] woshidama323 opened #482 "Could not find nvToolsExt (libnvToolsExt.dylib.1.0 or libnvToolsExt.dylib.1) in /Users/imac/.julia/artifacts/b502baf54095dff4a69fd6aba8667124583f6929/lib"
I noticed some weird lib name when install CUDA on imac

Actually, I have nvToolsExt but it's a different name

[code]

libnvToolsExt.1.dylib <==> libnvToolsExt.dylib.1.0 is different
I don't know why

ENV:
macOS High Sierra
10.13.6

CUDA:
/usr/local/cuda/bin/nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Sun_Jul_28_19:14:47_PDT_2019
Cuda c

[2020-10-11 02:19] tkf opened #484 "mapreduce assumes commutative op"
**Describe the bug**

It looks like CUDA.jl's `mapreduce` assumes commutativity of `op` here:

https://github.com/JuliaGPU/CUDA.jl/blob/bc2d5f4d4b79e4ece56aac257a56bc126ba2495a/src/mapreduce.jl#L67-L73

and here

https://github.com/JuliaGPU/CUDA.jl/blob/bc2d5f4d4b79e4ece56aac257a56bc126ba2495a/src/mapreduce.jl#L114-L121

**To reproduce**

As a result, the result of `mapreduce` differs from the CPU

[2020-10-12 02:50] tkf commented on #484
I just implemented a `Base`-compat version of one-dimensional (no `dims`) reduce: https://github.com/JuliaFolds/CUDAFolds.jl/blob/cc02b3862ca7bc9baeb9dd71a1b9e459afe4e37b/src/kernels.jl#L167-L179

I suspect `mapreducedim!` can also be implemented in a similar manner but my impression is that the current implementation in CUDA.jl prefers a different access pattern. It's the first GPU kernel I write

[2020-10-13 19:19] btmit opened #488 "SubArray Broadcast Bug in 2.0"
The following code worked fine with v1.3.3, but is broken with v2.0.1.

[code]
gives

KernelError: passing and using non-bitstype argument

  .indices is of type Tuple{Base.Slice{Base.OneTo{Int64}},Array{Int64,1},Base.Slice{Base.OneTo{Int64}},Base.Slice{Base.OneTo{Int64}}} which is not isbits.
    .2 is of type Array{Int64,1} which is not isbits.

I see the same error if I break it out into the fo

[2020-10-13 23:33] btmit opened #490 "Nested SubArray Scalar Indexing"
v2.0.0 fixed a number of issues with subarrays, but nested calls still seem to have issues. I'm wondering if there is a way to "flatten" the different calls to view/reshape. See the small example below. In my application the different calls to view are on opposite sides of a function boundary so they can't be combined.

[code]

[2020-10-14 01:04] btmit opened #491 "copyto!() between cpu and gpu with subarrays"
Copying a view from the CPU to existing memory on the GPU produces a scalar index error. Copy with the same way CPU-to-CPU and GPU-to-GPU still works.

[code]

If I try to do the copy with a broadcast

[code]
I get

KernelError: passing and using non-bitstype argument

[2020-10-14 06:05] maleadt commented on #491
This is not supported, you can only have GPU arrays participate in a broadcast. So no CPU array, let alone a CPU view.

This is on purpose, too. We currently only support copying from `Array`, because there's no easy way to dispatch on dense CPU arrays. There's `DenseArray`, but that isn't limited to `A<:Array`:

[code]

And introducing a `DenseCPUArray` alias like https://github.com/JuliaGPU/CUDA

[2020-10-14 06:05] #491 closed, assigned to nobody

[2020-10-14 06:13] maleadt commented on #490
Nested wrappers is https://github.com/JuliaGPU/Adapt.jl/issues/21, so not supported.

We do support limited view nesting, but we rely on Base for that with a GPU version of `DenseArray`. And this view with Cartesian indices isn't a dense array. GPUArrays' copy methods are more generic, but those can only use Array because of https://github.com/JuliaGPU/CUDA.jl/issues/491.

[2020-10-14 12:50] btmit commented on #491
Thank you for the information and background.

Is there any way then to copy from a slice of an array on the CPU to pre-allocated memory on the GPU?

[2020-10-14 13:19] maleadt commented on #491
You can always `unsafe_copyto!(pointer(dst), pointer(src), n)`, but that's a litttle risky of course.

[2020-10-14 13:34] btmit commented on #490
Is there a workaround I could use to flatten this sort of thing? The following works, so it seems like there might be a way to reform the view from the parent on the second call?

[code]

[2020-10-14 14:01] maleadt commented on #490
Not that I know, we're just reusing Base's view machinery here, and it doesn't look like it understands what you're doing enough to flatten the indices automatically.

[2020-10-15 07:14] #91 closed, assigned to nobody

[2020-10-15 12:55] liuwa666 opened #492 "LoadError: UndefVarError: AddrSpacePtr not defined"
[code]

[2020-10-15 12:59] #492 closed, assigned to nobody

[2020-10-15 13:00] maleadt commented on #492
Don't open issues like that without any more details. This isn't a support forum.
Julia 1.5 is only supported by CUDA 1.0 or higher.

[2020-10-15 20:20] marius311 opened #493 "Sparse matrix * view(vector) regression in 2.0"
The following code runs fine in 1.3.3 but triggers scalar indexing in 2.0 and above:

[code]

[2020-10-15 22:17] GiggleLiu opened #494 "Error transforming a reshaped 0-dimentional GPU array to a CPU array"
[code]

I can fix it by dispatching the 0-dimentional reshaped array function, but I think you may know how to fix this issue better.

[2020-10-16 06:05] maleadt commented on #494
Issue in Base:

[code]

I'm considering reverting the SubArray/ReshapedArray/ReinterpretArray change, as it has caused several issues.

[2020-10-16 06:05] #494 closed, assigned to nobody

[2020-10-16 06:22] #482 closed, assigned to nobody

[2020-10-16 07:57] maleadt commented on #144
I think many of these are implemented now, with scalar input types having been widened to `Number`. If there's any missing, feel free to open another issue.

[2020-10-16 07:57] #144 closed, assigned to nobody

[2020-10-16 08:23] Jutho commented on #144
Great; thanks!

[2020-10-16 08:25] GiggleLiu commented on #494
Great, helps a lot to OMEinsum.jl .

[2020-10-16 08:36] gzhang opened #496 "test cuda FAILURE"
[code]

[2020-10-16 08:36] maleadt commented on #494
Could you elaborate? Can't you run into these wrappers with Base arrays too? Array is special-cased to return a regular Array again, but with other inputs you'd still see SubArray/ReinterpretArray/ReshapeArray (and the DenseCuArray etc unions should take care of those).

[2020-10-16 08:55] GiggleLiu commented on #494
Currently, It is mainly about dispatch, output type stability et. al.
My main complaint is the CuArray reshape. Reshape an Array does not give you a ReshapedArray but reshaping a CuArray does. ReshapedArray makes the type unstable in some places. The rest is actually fine.

 I have fixed the issue of dispatch in this PR
https://github.com/under-Peter/OMEinsum.jl/pull/100/files

but not yet tested

[2020-10-16 09:32] #493 closed, assigned to nobody

[2020-10-16 09:33] maleadt commented on #496
https://github.com/JuliaGPU/CUDA.jl/issues/247

[2020-10-16 09:33] #496 closed, assigned to nobody

[2020-10-19 15:31] maleadt commented on #494
https://github.com/JuliaGPU/CUDA.jl/pull/498, feedback appreciated.

[2020-10-20 07:46] maleadt commented on #479
Static compilation is not really expected to work on 1.5 anyway, since `llvmcall` isn't precompilable there. So we should revisit this on 1.6.

[2020-10-20 09:17] maleadt commented on #467
view/reshape/reinterpret now result in a CuArray again.

[2020-10-20 09:17] #467 closed, assigned to nobody

[2020-10-20 09:17] maleadt commented on #453
https://github.com/JuliaGPU/CUDA.jl/pull/498

[2020-10-20 09:18] maleadt commented on #453
Actually, let's leave this open as I'd want to go back to the wrapper-based approach one day.

[2020-10-20 09:51] maleadt commented on #484
How can we fix this without, essentially, serializing the reduction? When reducing a 1D vector in parallel, aren't we always going to be reordering operations? Changing the order to something `<<=` based helps for `findmax`, but not for the general case (although it might be a good change nonetheless because it might be easier to coalesce):

[code]

EDIT: whoops, I'm a dummy, `-` is not associativ

[2020-10-20 21:16] deveshjawla commented on #447
[code]
Same issue.

I believe it is due to CUDA.jl v1.3.3 being incompatible with CUDA 11.1

[2020-10-21 04:43] Ellipse0934 commented on #484
Interestingly the `naive_findmax` here is faster than the current `findmax`.
[code]

Which makes sense as the current `findmax` does `minimum` and later `findfirstval` as outlined in #320 .

Can this be considered a replacement pending the associativity fix ? Even modifying the expression to `((a, i), (b, j)) -> a < b ? (b, j) : (a == b ? (a, min(i, j)) : (a, i))` has to same performance.

[2020-10-21 06:19] maleadt commented on #484
Ha, that's funny. Yes, it's probably worth doing so awaiting a better implementation.

[2020-10-21 07:16] gjvdkamp commented on #457
This helped. For other noobs like me, goto to pkg mode, and use st and rm commands to remove older CUDA stuff, then add CUDA again that fixed it for me.

[2020-10-21 20:13] tkf commented on #484
We need to use `isless` to get a correct behavior for `NaN` (and `missing` when CuArray supports union eltype).

[2020-10-23 06:38] maleadt opened #505 "Consider link-time optimization"
https://github.com/JuliaGPU/CUDA.jl/blob/87d3bfec7f06d99d668d042a864b78ef1605c4b4/src/compiler/execution.jl#L331-L332

https://docs.nvidia.com/cuda/cuda-compiler-driver-nvcc/index.html#optimization-of-separate-compilation

[2020-10-23 06:55] maleadt commented on #447
That's why I specified CUDA.jl#master; this option is only supported on v2.0 or more recent.

[2020-10-23 07:13] deveshjawla commented on #447
Yes but the problem is, Flux depends on CUDA.jlv1.3.3 as you also write before. I wonder if there is a way to make CUDA.jl#master work with Flux0.11.1.

[2020-10-25 14:46] ali-ramadhan commented on #119
Is this a limitation of the CUFFT library?

From looking at the CUFFT documentation (https://docs.nvidia.com/cuda/cufft/index.html) it wasn't super clear to me whether e.g. an FFT along dimension 2 for a 3D `CuArray` is possible, although it would probably involve a call to [`cufftPlanMany()`](https://docs.nvidia.com/cuda/cufft/index.html#function-cufftplanmany) which says that

~~but maybe it's p

[2020-10-25 18:49] ToucheSir commented on #447
@deveshjawla that's something to follow on the Flux side of things and not CUDA.jl. You could see if https://github.com/FluxML/Flux.jl/pull/1345 works for you (it's very WIP, but worth a try).

[2020-10-26 02:46] GiggleLiu opened #511 "Reshaped CuArray is not DenseCuArray"
This bug only appears in the master branch.

[code]

[2020-10-26 05:22] 7vikpeculiar commented on #265
Hi, can I work on this ?

[2020-10-26 09:55] maleadt commented on #265
No need to ask for permission. Note that somebody's already working on some of these functions, see https://github.com/JuliaGPU/CUDA.jl/pull/509.

[2020-10-26 10:30] 7vikpeculiar commented on #265
I have experience with Julia, but I am not sure how to work on this specific problem, a relative newcomer to opensource

[2020-10-26 10:42] maleadt commented on #265
The functions here are not GPU compatible, they either perform scalar iteration or don't compile. We need to implement GPU-compatible alternatives, as compactly as possible (i.e. reimplementing the least amount of code from Base). That's often done by relying on existing array operations. Have a look at the linked PR for examples.

[2020-10-27 02:23] berquist commented on #265
In the interest of time and not gobbling up all the work (I have open-source experience but am a Julia newcomer), I'm only going to attempt covariance and correlation.

[2020-10-28 14:14] #511 closed, assigned to nobody

[2020-10-28 14:15] #484 closed, assigned to nobody

[2020-10-29 08:21] maleadt commented on #488
This now works on master, I guess I fixed it :-) could you verify?

[2020-10-29 08:21] #488 closed, assigned to nobody

[2020-10-29 08:23] maleadt commented on #490
Works again after https://github.com/JuliaGPU/CUDA.jl/pull/498, now that we eagerly flatten some wrappers. But ultimately this remains Base not supporting these kinds of nested wrappers, and it just happens to work because of an optimization here, not because we fundamentally support this pattern.

[2020-10-29 08:23] #490 closed, assigned to nobody

[2020-10-29 08:24] maleadt commented on #456
https://github.com/JuliaGPU/CUDA.jl/pull/465

[2020-10-29 08:24] #456 closed, assigned to nobody

[2020-10-29 08:26] maleadt commented on #422
CUTENSOR has been upgraded to 1.2.1, could you test again on the latest master branch?

[2020-10-29 08:27] maleadt commented on #343
@denizyuret any update on the CUDNN rework?

[2020-10-29 08:32] maleadt commented on #204
This is now mentioned on the main installation overview docs: https://juliagpu.gitlab.io/CUDA.jl/installation/overview/

[2020-10-29 08:32] #204 closed, assigned to maleadt

[2020-10-29 08:32] maleadt commented on #174
multi-gpu has greatly improved, so I think we can close this.

[2020-10-29 08:32] #174 closed, assigned to nobody

[2020-10-29 08:34] maleadt commented on #172
This has been implemented now, e.g.: https://github.com/JuliaGPU/CUDA.jl/blob/bc0184eaba90c303e73c44a1768b6b7cb36ed669/lib/cublas/wrappers.jl#L89-L102

[2020-10-29 08:34] #172 closed, assigned to nobody

[2020-10-29 08:35] maleadt commented on #165
Let's track Float16 support here: https://github.com/JuliaGPU/CUDA.jl/issues/391

[2020-10-29 08:35] #165 closed, assigned to nobody

[2020-10-29 08:35] maleadt commented on #164
Should be fixed, as all tests are run with `allowscalar(false)`.

[2020-10-29 08:35] #164 closed, assigned to nobody

[2020-10-29 11:58] #92 closed, assigned to nobody

[2020-10-29 12:56] norci opened #516 "assignment failure when using array slicing."
**Describe the bug**
failed to assign a CuArray

**To reproduce**

The Minimal Working Example (MWE) for this bug:

[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

A clear and concise description of what you expected to happen.
[code]

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

**Additional context**

Add any other

[2020-10-29 13:32] maleadt commented on #516
This has already been fixed, you're using an old version of CUDA.jl:

[code]

[2020-10-29 13:32] #516 closed, assigned to nobody

[2020-10-30 04:26] denizyuret commented on #343
Still incomplete at https://github.com/denizyuret/Knet.jl/pull/614. If you'd like I can strip Knet specific stuff and create a CUDA.jl pull request within a week, at least for feedback.

[2020-10-30 06:39] Ellipse0934 commented on #320
Based on @tkf's implementation of findmax using mapreduce which performed better* than our current version I have written  a new version.

There is also a bug in the current implementation. Where `NaN` is not dealt with properly.
[code]

New version:
[code]

However the performance isn't necessarily always better than the current version. The reason for this, I suspect are
- Current `findmax` uses

[2020-10-30 07:07] maleadt commented on #343
Yeah that might be interesting, that way we can do development in the place the code will actually be (assuming Knet will use the CUDNN submodule from CUDA.jl).

[2020-10-30 07:10] #247 closed, assigned to nobody

[2020-10-30 08:41] denizyuret commented on #343
I have the following problem: We have the low level library call and the high level user API. Neither is appropriate as an AutoGrad primitive. For a function defined as an AutoGrad primitive:

* It must return an output value (low level cudnn calls do not).
* Preferably the positional args should be the ones that have gradients, the rest should be delegated to keyword args (low level cudnn calls h

[2020-10-30 10:21] #422 closed, assigned to nobody

[2020-10-30 19:16] maximilian-gelbrecht commented on #322
I keep coming back to this, but I still have several problems with CUSPARSE when migrating from the old CuArrays.jl to CUDA.jl . Things that used to work don't work anymore.

With Julia 1.4.2 and CUDA.jl 1.3.3, I get for
[code]
the following error
[code]
There are some other problems as well but I haven't had the time yet to sit down and find a proper MWE.

[2020-10-31 05:33] simonbyrne commented on #322
I believe the above fix is only in CUDA.jl 2.0. Try upgrading to the latest version (you may need Julia 1.5 as well).

[2020-10-31 07:53] maximilian-gelbrecht commented on #322
Thanks for the tip. Unfortunately Flux.jl restricts me from updating to CUDA.jl 2.0.
The error now is different than before though, so something def. changed through the fix.

[2020-11-03 14:45] denizyuret opened #521 "cudnn missing after downloading artifact"
We got some new machines on the cluster and when I try to build CUDA it says CUDNN and CUTENSOR are missing even though they seem to be downloaded. Any ideas what might be going wrong?

[code]

[2020-11-03 15:15] maleadt commented on #521
Which exact version of CUDA.jl?

[2020-11-03 15:43] maleadt commented on #521
Also, something is wrong here, as it's downloading _all_ artifacts:

[code]

I'm guessing the downloads failed, and it ended up using the 10.1 installation I presume you have downloaded before. Then it continued to fail to download the CUDNN and CUTENSOR artifacts.

Try running with `JULIA_DEBUG=CUDA`, it should print about those failures: https://github.com/JuliaGPU/CUDA.jl/blob/db7d33f8cc6aa2d2a

[2020-11-03 18:13] denizyuret commented on #521
You are right, the download was failing because of a firewall on the cluster workers. When I tried a build on the host node everything worked fine. Thank you.

[2020-11-03 18:13] #521 closed, assigned to nobody

[2020-11-06 07:08] denizyuret commented on #343
I am preparing a [PR](https://github.com/JuliaGPU/CUDA.jl/pull/523) at https://github.com/denizyuret/CUDA.jl/tree/dy/cudnn.

[2020-11-06 19:11] KlimkinND opened #528 "Sparse matrix addition not working"
Self-explanatory. MWE below:

[code]
This error also reproduces when downgrading CUDA to v. 1.3.3. Julia version info:

[code]

[2020-11-09 19:30] GiggleLiu opened #533 "Segmentation fault on exiting Julia"
I see the following error when the program ends. The computation is correct.

[code]

The operations in the program are basically `generic_matmatmul!` and permutedims. The tensor is very high dimensional.

[2020-11-10 09:04] gzhang opened #536 "CUBLAS and exceptions test failures on Windows"
[code]

[2020-11-10 15:48] maleadt commented on #536
Are these failures reproducible?

And don't just dump error output in an issue, that's rude. Instead, add some details about your system (what version of Windows, how did you install Julia), the errors (e.g. are they reproducible, can you isolate them, ...), format your post, etc.

[2020-11-10 15:50] maleadt commented on #533
`versioninfo()`, GPU details, Julia specifics, ... The issue template is there for a reason.

[2020-11-10 16:28] gzhang commented on #536
system: win 10
Julia version: 1.5.2
CUDA version: 11.1.1
Nvidia drivers: 457.9

[2020-11-10 21:17] GiggleLiu commented on #533
Ah, sorry. Here are the version informations

System:
Ubuntu 18.04.3 LTS (GNU/Linux 4.15.0-96-generic x86_64)

[code]

[2020-11-10 21:21] GiggleLiu commented on #533
It is platform dependent. On the following host, it does not error on exit.

OS: Ubuntu 20.04

[code]

[2020-11-11 04:22] jeremiedb opened #538 "Performance regression on matrix multiplication between CUDA.jl 1.3.3 and 2.1.0/master"
This issue is a follow up from the discussion on [Discourse](https://discourse.julialang.org/t/cuda-v2-performance-regression-on-matrix-multiplication/49763).

Summary: performance regression between CUDA.jl v1.3.3 and current/latest version v2.1.0/master.
Performance difference is significant on a Windows 10 machine GTX-1660Ti(~50%).
Gap is also present but much small (~5%-10%) on a Ubuntu 20.04

[2020-11-12 04:59] zlewko opened #541 "Type unstable code can lead to loading from CPU boxes"
**Describe the bug**

In some cases assigning NaN to a cuda array of Float32 results in:

CUDA error: an illegal memory access was encountered (code 700, ERROR_ILLEGAL_ADDRESS)

assigning a NaN32 does not.

**To reproduce**

The Minimal Working Example (MWE) for this bug:

[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

I'd expect the same beh

[2020-11-12 05:44] XingjiaHan commented on #300
https://github.com/tensorflow/tensorflow/issues/43030#issuecomment-725850692

[2020-11-12 06:58] maleadt commented on #300
That is not relevant?

[2020-11-12 08:36] ayaoyao214 opened #542 "Downloading artifact: CUDA110 when using DiffEqFlux"
Hi, I am currently working on DiffEqFlux here is a problem struggling me for quite a while.
When I type using DiffEqFlux, it goiing to take long time to precompile and sometimes it fail to compile.

This is what I got.
![image](https://user-images.githubusercontent.com/45578607/98915063-60428080-2504-11eb-9791-bfb01c948985.png)
Then if I do ctrl+C to exit, it will try to download other versions, l

[2020-11-12 08:57] maleadt commented on #542
This is not a bug, but the CUDA artifacts being downloaded. These artifacts are large, so downloading them takes a while. It should only happen when actually doing CUDA calls though, so if this really happens during `using DiffEqFlux`, that's a bug in that package.

I tried it myself, and the culprit is Flux:

[code]

cc @DhairyaLGandhi

[2020-11-12 08:57] #542 closed, assigned to nobody

[2020-11-12 14:47] maleadt commented on #541
Reduced to:

[code]

Because of the type instability:
[code]

Julia generates code that returns a constant `jl_value_t` (the remaining code is mostly from the for loop, but matters, presumably because it can throw and as such hinders optimizations):
[code]

The constant here is a boxed `0f0`, -127 is NaN.

I guess the validator should catch this -- I guess we now rely on type-instable code to hit

[2020-11-13 09:00] JuliaTagBot opened #544 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

[2020-11-13 09:00] #544 closed, assigned to nobody

[2020-11-14 06:27] denizyuret commented on #343
@maleadt @DhairyaLGandhi : I worked on CUDA/lib/cudnn/nnlib.jl and have a few observations, suggestions:
* I think this file should not be part of / tested in CUDA.jl. Flux.jl may be a better home for it.
* CUDA/test/cudnn.jl should test the actual cudnn calls rather than NNlib functions.
* softmax with dims other than 1 were buggy, fixed now.
* softmax is THE most expensive operation in many lang

[2020-11-16 07:39] maleadt commented on #343
Other libraries, like CUSOLVER similarly integrate with, say, LinearAlgebra, so the tests are two-fold: first the low-level API calls, then the high-level interface integrations. Or does the NNlib integration (or tests thereof) depend on Flux-like functionality?

[2020-11-16 12:55] DhairyaLGandhi commented on #343
Let's update ∇softmax accordingly

[2020-11-16 18:25] vchuravy opened #548 "Misaligned address on load from `Const`"
The following code (minimized from a KernelAbstractions example)

[code]

fails with

[code]

anecdotal evidence hints at it might be a CUDA 11 (driver version) issue.

[code]

cc: @mjulian31

[2020-11-16 19:13] vchuravy commented on #548
[code]

Is the corresponding PTX.

I don't quite understand why:

[code]

isn't constant folded.

The corresponding load code is:

[code]

and it looks like we are not taking the element size into account?

[2020-11-17 06:59] maleadt commented on #542
Just to clarify, it's not really a bug since `CUDA.functional()` will only download if you actually have a GPU. So this is likely the wanted behavior.

[2020-11-17 07:34] #548 closed, assigned to nobody

[2020-11-17 07:55] ayaoyao214 commented on #542
Hi, thank you very much for replying. But this confuses me. I do have a GPU but I didn't run on it. Do you mean that as long as I have a gpu, when I do 'using DiffEqFlux', the CUDA.functional()  is still going to download?
Then if that is true, what I need to do is just wait until the downloading is finished? Thanks a lot.

[2020-11-17 07:58] maleadt commented on #542
Correct, there's no other way to guarantee that CUDA is functional without actually downloading the required libraries, so it need to happens then. The download should only happen once, and finish within 10 minutes or so. If that doesn't happen, either you have internet troubles, or the PkgServer is acting up.

Note that if you have CUDA installed locally you can always specify `JULIA_CUDA_USE_BIN

[2020-11-17 08:05] ayaoyao214 commented on #542
Sure. I got this. I'll run it and wait and see what going to happen. Thanks again for your help!

[2020-11-18 15:40] simeonschaub opened #553 "argmax(::CuArray) returns nothing with NaN-values"
For regular arrays, `argmax` returns a valid index if `NaN`s are present:
[code]
while for `CuArray`, this returns `nothing`:
[code]

Julia and CUDA versions:
[code]

[2020-11-18 15:44] maleadt commented on #553
The reason:

[code]

Fixed by the alternative implementation in https://github.com/JuliaGPU/CUDA.jl/issues/320#issuecomment-719291478.

[2020-11-19 09:05] Mark-314 commented on #536
Encountered very similar problem, and those failures are consistent and repeatable

system: win 10
CPU: Intel(R) Core(TM) i7 CPU
RAM: 64GB
GPU: RTX 2060
Julia version: 1.5.3/1.5.2

[code]

[2020-11-21 04:15] xaellison opened #555 "Multiple @cuDynamicSharedMem in kernel causes unexpected behavior"
**Sanity checks (read this first, then remove this section)**

**Describe the bug**

I suspect, that if a kernel has multiple arrays created by `@cuDynamicSharedMem`, that CUDA.jl treats these as the same place in memory. By contrast, using `@cuStaticSharedMem` two distinct arrays are made.

**To reproduce**

The Minimal Working Example (MWE) for this bug:

[code]

Output:
[code]

<details><summar

[2020-11-21 04:26] ChrisRackauckas opened #556 "Missing dispatch for indexing of reshaped arrays"
[code]

This is because `W` is a SubArray`. However, the other method works:

[code]

This is different from Array semantics:

[code]

where the latter is more optimized with BLAS due to some of @mbauman 's fanciness.

[2020-11-21 07:50] maleadt commented on #555
Correct, this is by design. That's why there's an `offset` argument to the macro. I don't think it would be better if the order of `cuDynamicSharedMem` invocations determines the offset, as that would be very fragile. AFAIK, CUDA C behaves the same.

[2020-11-21 09:31] maleadt opened #558 "Illegal memory access with atomic shared memory"
From https://discourse.julialang.org/t/kernel-for-building-histogram-on-gpu/34191/11:

[code]

Works with the `@inbounds`, doesn't without:

[code]

Interestingly, this *doesn't* look to be another instance of https://github.com/JuliaGPU/CUDAnative.jl/issues/4, as I can reproduce the error when removing all exception-related code from the PTX code.

`working.ptx`
[code]

`broken.ptx` with exceptio

[2020-11-21 12:48] GuoHaoxuan opened #559 "CUDA.sqrt will not found symbol "__nv_sqrt""
**Describe the bug**

CUDA.sqrt will not found symbol "__nv_sqrt"

**To reproduce**

[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

Do not crash nor show `FATAL ERROR: Symbol "__nv_sqrt"not found` as above

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

[2020-11-21 15:42] vchuravy commented on #559
You executed code that was meant for the GPU on the CPU. `CUDA.sqrt` is GPU only.

[2020-11-21 16:14] GuoHaoxuan commented on #559
Thank you for your answer. The following code is OK.

[code]

[2020-11-21 16:14] #559 closed, assigned to nobody

[2020-11-21 16:29] #555 closed, assigned to nobody

[2020-11-22 01:58] gzhang commented on #536
[code]
[code]

**Problems persist after CUDA.jl upgrade to version 2.3.0**
[code]

(Note: please use triple backticks to denote code listings)

[2020-11-22 12:04] maleadt commented on #536
I haven't been to reproduce any of these failures. So it would be useful if somebody who can could reproduce this failure to a single test,  reduce it further, add some additional specifics, etc.

[2020-11-23 04:48] mforets opened #561 "Exception with CUDA.exp"
Hi,
This is to report the following error. Runnig CUDA v2.3.0. Do I have to install some additional library in order to fix it?

[code]

[2020-11-23 05:43] vchuravy commented on #561
Same issue as https://github.com/JuliaGPU/CUDA.jl/issues/559#issuecomment-731595826

CUDA.jl contains intrinsics that can only be executed on the GPU.

[2020-11-23 05:43] #561 closed, assigned to nobody

[2020-11-23 05:57] mforets commented on #561
Ok, thanks a lot. I see, it's as beginner's trap :)

[2020-11-23 15:55] #359 closed, assigned to nobody

[2020-11-23 17:29] maleadt opened #563 "Simplify memory allocator with UVA"
We currently keep track of which device owns each GPU allocation, but that's not necessary. Since CUDA 4 we have unified virtual addressing for sm_20+ devices on 64 bit, so we should use that to get rid of the `PerDevice` accounting wherever possible.

- https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#unified-virtual-address-space
- https://developer.nvidia.com/blog/unified-memory

[2020-11-24 09:47] maleadt commented on #563
[code]

[2020-11-24 10:58] thomasfaingnaert commented on #558
Isn't this the same issue I've been having?
If the store is in a different basic block than the GEP, NVPTX erroneously inserts a `cvta.to.shared.u64`.

`good.ll`:
[code]

`llc good.ll -o good.s`
[code]

`bad.ll`
[code]

`llc bad.ll -o bad.s`
[code]

`diff good.ll bad.ll`
[code]

`diff good.s bad.s`
[code]

[2020-11-24 11:14] simeonschaub commented on #106
Maybe, I am misunderstanding something here, but that already works for regular arrays, right? I was actually surprised this kind of mixed logical indexing doesn't work with CuArrays, so I ended up having to move my array to the cpu for this. How hard would it be to add support for this?

[2020-11-24 12:30] maleadt commented on #558
Ah yes, that seems likely. Did we already have an open issue for that?

[2020-11-24 12:34] thomasfaingnaert commented on #558
I don't think so. I don't recall opening one, anyway.

[2020-11-24 17:36] maleadt opened #570 "Use LazyArtifacts instead of Pkg"
https://github.com/JuliaLang/julia/pull/37844

[2020-11-25 04:06] clintonTE commented on #536
Here are a couple of these I was able to reproduce by copying and modifying some of the code from the test file:

[code]

Output:
[code]

[2020-11-25 04:45] gzhang commented on #536
the same output:
[code]

[2020-11-25 12:19] maleadt commented on #536
OK, so only cublasXt tests fail? We might be doing something legitimately wrong then, because I remember `cuda-memcheck` complaining about how we pin our host memory there, which might behave differently on Windows.

That said, if you don't actively use those `xt_` functions, the failures are harmless.

[2020-11-25 15:18] maleadt commented on #536
I verified, and that doesn't hold true anymore with CUDA 11.1.

[2020-11-25 19:54] lorrp1 commented on #426
@sdewaele  could you please post how did you used cu() to transfer transform mean and scale?

[2020-11-25 20:37] clintonTE commented on #536
Good to know. Speaking for myself I don't use these, but happy to help test if a Windows box is needed.

[2020-11-25 21:02] maleadt commented on #536
[code]

Looks like you invalidly reduced the test to a failure that isn't like what happened originally though.

Anyway, if you can still reproduce the original failure, could you try adding a call to `synchronize()` after every call to `CUBLAS.xt_*` in `test/cublas.jl` and see if that fixes the problems?

[2020-11-25 23:58] clintonTE commented on #536
If you are saying it is a coincidence, that's fine, but the above code was pulled based on cross-referencing the op's original stack trace line numbers and the test failures on my system.

I checked using the above example and this didn't work. I'll try it on the master branch tests once I make the jump to 1.6.

[2020-11-26 06:58] maleadt commented on #536
The tests are very stateful, so you probably copied wrong definitions for some if the inputs, because the tests there never throw a DimensionMismatch nor do they in your original error report. So adding a synchronization point there is also not expected to do anything.

[2020-11-26 08:00] maleadt commented on #536
I've implemented the above suggestion here: https://github.com/JuliaGPU/CUDA.jl/pull/572

Do note this branch needs Julia#master, and the Windows nightlies are lagging, so you need an up-to-date build like https://julialangnightlies-s3.julialang.org/pretesting/winnt/x64/1.6/julia-377aa809eb-win64.exe. Also note the required GPUCompiler dependency isn't tagged yet, so you need to launch using `juli

[2020-11-26 09:23] maleadt commented on #558
Reduced in some further. Codegen prepare seems to blame.

`good.ll`
[code]
[code]

`bad.ll`
[code]
[code]

[2020-11-26 11:32] maleadt commented on #558
The problem stems from `CodeGenPrepare::optimizeMemoryInst`, which sinks non-local (e.g., across basic blocks) address calculations, and here creates an invalid `addrspacecast`. That was introduced in https://reviews.llvm.org/D30114, where it is argued that these cast should always be a no-op because the "chain" of operations it builds only considers address space casts that are considered no-op b

[2020-11-26 14:41] #570 closed, assigned to nobody

[2020-11-26 17:34] sdewaele commented on #426
I actually created a type similar to `ZScoreTransform` that supports `CuArrays`. The issue is that the `StatsBase.ZScoreTransform` does not support `CuArrays` because the [type definition](https://github.com/JuliaStats/StatsBase.jl/blob/ec33334161a8702bbc757b65da986e839ffd2cee/src/transformations.jl#L52-L65) is limited to `Vector{T}`. A better solution would be to update the `StatsBase` to directl

[2020-11-26 19:49] clintonTE commented on #536
Ah I see what you mean. Here is hopefully a valid MWE:

[code]

Output:

[code]

I'll give the PR a shot.

[2020-11-26 20:56] sdewaele commented on #426
Using this [zscore-transform.jl](https://gist.github.com/sdewaele/296d9547ef937af413b32b370044adc7), the following seems to do the job:
[code]
I may submit a PR to `StatsBase` for this. The changes with respect to the current `ZScoreTransform` version are not that many. There is a quite some code duplication in the gist just to make `ZScoreTransformGeneric` work.

Note that there is also [`Flux.no

[2020-11-27 08:34] maleadt commented on #558
https://reviews.llvm.org/D92210

[2020-11-27 13:12] maleadt commented on #536
If that snippet here failed with the `synchronize` in there, the PR won't help. Still, I'd appreciate if you could test it. Even with multiple iterations, I can't reproduce (haven't tried on Windows though).

Is there anything special about your set-up? Are you using the driver in WDDM or TCC mode? Hardware-accelerated GPU scheduling? Other special settings related to the GPU or CUDA?

EDIT: ah, I

[2020-11-27 16:36] #553 closed, assigned to nobody

[2020-11-27 16:59] maleadt opened #578 "Test runner: early bail out"
Not to waste precious CI time if a test fails; for the single job before the `wait`.

[2020-11-27 19:15] denizyuret opened #579 "memory reporting issue"
`CUDA.memory_status()` now reports a discrepancy. The reason seems to be the `CUDA.used_memory()` function which does not report the number of bytes used any more.

[2020-11-27 19:18] Ellipse0934 commented on #320
Don't close this issue yet.
One way to significantly improve is to use warp shuffle for finding the `min`/`max` for supported primitive types. Outlining a rough sketch of the steps.
- Use `shfl_down_sync` to find the minimum element of a warp
- Use `vote_ballot` to find the elements which match the minimum element
- Conduct another `vote_ballot` to check for `NaN` when `eltype(array) <: AbstractFl

[2020-11-27 19:18] maleadt commented on #579
There was a report by @marius311 on Slack about this as well:

[code]

[2020-11-27 19:39] clintonTE commented on #536
Ah ok, I tried it and it didn't work as you say,  basically the same results as the op. Nothing particularly special about my system- just a Razer laptop with a 2070 RTX running in WDDM with a  bunch of monitors hooked up.

Edit: Note I tried it on the original #572 (67dfd4a)

[2020-11-27 20:05] clintonTE commented on #536
I just tried it on #577 and everything worked!

[2020-11-28 07:27] #124 closed, assigned to nobody

[2020-11-28 07:27] #536 closed, assigned to nobody

[2020-11-28 09:29] denizyuret opened #580 "c[3:4]=0 leads to exception"
CUDA@2.3.0
[code]
Followed with subsequent launch failures for other cuda calls.

The same operation with a regular array just results in a regular error.

[2020-11-28 16:20] maleadt commented on #580
[code]

Exceptions are "regular errors". It's only sticky if you use older hardware.

[2020-11-28 16:21] #580 closed, assigned to nobody

[2020-11-28 19:10] maleadt commented on #580
To elaborate some more: this is a `ptxas` bug on older hardware, pre sm_70: https://github.com/JuliaGPU/GPUCompiler.jl/blob/c32fe166787ba2f20845ff52058d9ff46515c002/src/ptx.jl#L287-L293
I guess you use an older GPU?

[2020-11-29 08:35] denizyuret commented on #580
I tried it on a v100 and t4, both post sm_70.  In both cases the next command after the exception (e.g. `println(c)`) gets an exception, but the ones after that start working.

In earlier models, e.g. K80, the exceptions are sticky as you mentioned - I keep getting "illegal instruction" errors no matter how many commands I try.

[2020-11-29 15:43] maleadt commented on #580
Yes, that's the expected behavior. The first is the GPU printing the exception, the second is the CPU detecting an exception happening. Then everything just works again. Do you have any problem with this?

[2020-11-29 16:26] ali-ramadhan commented on #119
Since this is a limitation of the CUFFT library, it seems that transposing the array then performing an FFT along a non-batched dimension is the way to go.

E.g. to compute an FFT along dimension 2 of an array `A` with 3 dimensions, you would `permutedims!(B, A, (2, 1, 3))` then compute an FFT along dimension 1 of `B`, then `permutedims!(A, B, (2, 1, 3))`.

Should this issue be closed since it's c

[2020-11-29 16:32] DrChainsaw opened #581 "Add math ops (including broadcast) for half types"
Math ops like `sqrt` and `log` does not seem to be implemented for half precision (e.g. `Float16` and `BFloat16`):

[code]

**Describe the solution you'd like**
That correct values are returned.

**Describe alternatives you've considered**

I tried my luck in just defining `@inline CUDA.sqrt(x::Float16) = ccall("extern hsqrt", llvmcall, Float16, (Float16,), x)` after finding [this doc](https://doc

[2020-11-29 16:35] DrChainsaw commented on #581
Ok, I pretty much forgot that this issue exists: https://github.com/JuliaGPU/CUDA.jl/issues/391

[2020-11-29 16:35] #581 closed, assigned to nobody

[2020-11-29 17:03] denizyuret commented on #580
No I think it is ok, may be worth documenting somewhere if not already.

On Sun, Nov 29, 2020 at 6:43 PM Tim Besard <notifications@github.com> wrote:

[2020-11-29 22:13] sdewaele commented on #426
When completed, this PR will resolve this issue: https://github.com/JuliaStats/StatsBase.jl/pull/622

[2020-11-30 07:19] maleadt commented on #581
Yeah these are tricky, and nobody is actively working on them right now. The CUDA implementations often just cast to Float32 though, so you could do the same for now.

[2020-11-30 08:27] maleadt commented on #119
I guess; I'm not familiar with CUFFT or the fft API.

Seeing `permutedims` mentioned here, I had a quick look at optimizing its implementation. It's far from optimal, but some quick improvement is up at https://github.com/JuliaGPU/GPUArrays.jl/pull/338.

[2020-11-30 14:51] #579 closed, assigned to nobody

[2020-11-30 15:25] btmit commented on #119
I believe you can do this with the various options in `cufftPlanMany()` in CUFFT.

The problem I found with `permutedims` is that it can't be done inplace, so this approach isn't an option for large arrays.

[2020-11-30 15:30] ali-ramadhan commented on #119
Ah I'm definitely not an expert in FFTs but can you see how to do an FFT along dimension 2 for an array with 3 dimensions with `cufftPlanMany()`?

[2020-11-30 15:46] btmit commented on #119
I will try and figure it out as soon as I have a minute. I think I might be able to track down some old code.

As another data point, MATLAB CUDA can do this. Though there is a chance that they are doing a permutedim copy under the hood as well.

[2020-12-01 11:06] maleadt commented on #558
Fixed on Julia#master.

[2020-12-01 11:06] #558 closed, assigned to nobody

[2020-12-01 12:39] #578 closed, assigned to nobody

[2020-12-01 12:45] maleadt commented on #556
What do you expect here exactly? `@view x[reshape(1:4,2,2)]` is a non-contiguous SubArray, both on the CPU and the GPU, because of the indices. Calling transpose on that falls back to the generic implementation on the CPU, and can't possibly work on the GPU because of https://github.com/JuliaGPU/Adapt.jl/issues/21 once again.

[2020-12-01 12:50] maleadt commented on #341
https://github.com/JuliaGPU/CUDA.jl/pull/569

[2020-12-01 12:50] #341 closed, assigned to nobody

[2020-12-01 12:51] maleadt commented on #259
Haven't seen this for a while now.

[2020-12-01 12:51] #259 closed, assigned to kshyatt

[2020-12-01 12:54] ChrisRackauckas commented on #556
It's contiguous:

[code]

[2020-12-01 14:14] dangirsh commented on #570
FYI, this breaks the ability to use `master` on Julia 1.5. If that was intended, we should update the minimum Julia version in the README.

This was quite confusing, since `]dev CUDA` on Julia 1.5.3 gives an error about `LazyArtifacts` being unavailable. `]add LazyArtifacts` fails, since it's not a real package. Currently, Googling "julia LazyArtfiacts" doesn't help at all either.

[2020-12-01 14:22] maleadt commented on #570
Yes, that was intended, because of other compiler changes. The `Project.toml` also reflects that, but you're right that the README doesn't yet.

[2020-12-01 14:40] maleadt commented on #556
It may be in practice, but `view` with indices like that cannot be detected as such:

[code]

vs

[code]

[2020-12-01 15:01] dangirsh opened #586 "Dot product of Array and CuArray fails with CPU address error."
**Describe the bug**

Dot products of `CuArray`s and `Array`s fail with: `ERROR: LoadError: ArgumentError: cannot take the CPU address of a CuArray{Float64,1}`. Same with `Float64`. Same with `CUDA.dot`.

It's hard to tell if this is related / the same as an existing open issue.

**To reproduce**

[code]

[code]

**Additional context**

The generic fallback is hit when the float types are differen

[2020-12-01 16:00] ChrisRackauckas commented on #556
I think I can work around it: https://github.com/SciML/DiffEqFlux.jl/pull/451

[2020-12-01 16:01] ChrisRackauckas commented on #556
Note that on CPUs, that other form is treated as a contiguous array by BLAS via https://github.com/JuliaLang/julia/pull/34729

[2020-12-01 16:04] maleadt commented on #556
That's a good reference, thanks. I'm wary to copy it here though, because these unions have a tendency of wrecking package import latency...

[2020-12-01 16:05] maleadt commented on #586
This is expected behavior. You're dispatching to the CPU BLAS implementation, which attempts to take a CPU pointer of its arguments. The fact that this differs depending on the types is a property of the Base implementation. Mixing array types is generally not supported.

[2020-12-01 16:05] #586 closed, assigned to nobody

[2020-12-04 14:22] trollichon opened #587 "Support for CUDA-capable GPU with compute capability 4.0 like GTX 1080"
**Consider support for GTX 1080 and other GPU with compute capability 4.0**

The current README.md states that  only "GPU with compute capability 5.0" are currently supported. Would it be technically possible to support older GPUs with compute capability 4.0 in future ? If not, could someone give some technical information why this is not possible ?

Thanks all for the great job on cuda and julia.

[2020-12-04 14:29] maleadt commented on #587
A GTX 1080 has compute capability 6.1, so is fully supported. sm_40 is really old, so doesn't seem like a problematic requirement nowadays. And older versions of CUDA.jl do support devices below it.

The reason is that certain CUDA APIs (gemmex) and kernel features (shuffle, certain atomics) are only available on recent hardware, so it simplifies our implementation here.

[2020-12-04 14:29] #587 closed, assigned to nobody

[2020-12-04 21:59] danielwe opened #588 "mapreducedim! not threadsafe"
**Describe the bug**

`CuArray` reduction operations that eventually land in `mapreducedim!` may segfault when called from multiple host threads simultaneously.

**To reproduce**

[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

No segfault

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

**Additional context**

<details>

[2020-12-04 23:13] vchuravy commented on #588
Jup it is even noted in the code as a TODO: https://github.com/JuliaLang/julia/blob/8629e213eac0ffc26a9f18fae949f378e3defec5/src/runtime_ccall.cpp#L271

[2020-12-05 03:46] dsfenn opened #590 "Allow separate directories for cuda and cudnn"
I'm working on a cluster that has `cuda` and `cudnn` installed in different locations. I don't have write permission to these locations, so I can't change how they're laid out. `CUDA.jl` successfully finds the `cuda` location, but it looks in the same place for `cudnn` and thinks it's not installed because it can't find it there. I can't figure out how to change that.

If there is a way to specify

[2020-12-05 18:07] jruiseco opened #591 "Difficulties installing CUDA on Julia 1.6.0 ."
When running

`import Pkg; Pkg.add("CUDA")``

I receive this issue.

[code]

I have tried wiping out every tangentially related folder I could find, and reinstalling CUDA

[2020-12-05 18:11] ali-ramadhan commented on #591
I don't think the latest tagged release of CUDA.jl (v2.3.0) supports Julia 1.6.

You might have better luck with the master branch of CUDA.jl since it includes PR https://github.com/JuliaGPU/CUDA.jl/pull/566

[2020-12-05 23:02] dfdx opened #592 "softmax(x) and logsoftmax(x) update their arguments"
**Describe the bug**

Unlike NNlib versions, `softmax(x)` and `logsoftmax(x)` in CUDA.jl modify their arguments in-place.

**To reproduce**

The simplest way to confirm it is to look at [the code](https://github.com/JuliaGPU/CUDA.jl/blob/master/lib/cudnn/nnlib.jl#L48-L58), but for the sake of completeness here's the minimal reproducible example:

[code]

**Possible fix**

It should be easy to fix

[2020-12-07 06:52] maleadt commented on #591
What @ali-ramadhan said.

[2020-12-07 06:52] #591 closed, assigned to nobody

[2020-12-07 06:56] maleadt commented on #590
Make sure those directories are part of the library search path (`LD_LIBRARY_PATH`), which your cluster's module management system probably ought to do. That should do the job. `CUDA_HOME` etc is a common shortcut, but generally libraries and binaries you want to use should just be available on standard paths, and CUDA.jl shouldn't be looking all across the system for them.

[2020-12-07 06:56] #590 closed, assigned to nobody

[2020-12-07 08:49] denizyuret commented on #592
I am fixing this and other inconsistencies at https://github.com/JuliaGPU/CUDA.jl/pull/523

[2020-12-07 08:58] denizyuret opened #594 "Freeing large buffers takes a while"
This is the issue mentioned in https://github.com/denizyuret/Knet.jl/issues/624#issuecomment-739599994

Here is an MWE: https://gist.github.com/denizyuret/e4155b9e2aeae5e19af6e1fdd2f6716b

The size argument to `main` is adjusted to push the GPU memory to its limits, 500 works on a T4, may have to lower it if you have less memory.

I used the latest CUDA master and Knet#dy/fix624.

`gcnode` calls `

[2020-12-07 15:23] #588 closed, assigned to nobody

[2020-12-08 01:14] danielwe opened #595 "Thread safety issue with free"
**Describe the bug**

My code tends to hang when calling CUSOLVER eigensolvers from multiple threads simultaneously. Looking at backtraces, `free` looks like the culprit. It could be something with the indexing operations on the following line:
https://github.com/JuliaGPU/CUDA.jl/blob/e06704da5b3e804249f8a11834b5e311e56d59e4/src/pool.jl#L369
On the other hand, this may just be where execution happ

[2020-12-09 19:19] eaubanel opened #597 "Bounds checking very slow with @views"
When doing array operations with @views the bounds checking uses up a huge amount of memory and time. Here's a simple MWE:

[code]
On the GPU I'm using (Tesla V100-SXM3-32GB), I get the following timing:

[code]

Once I add `@inbounds` right after `@views` I get much better timing:

[code]

[code]

[2020-12-12 00:10] GiggleLiu opened #598 "`norm` function errors on big arrays"
[code]

`rmul!` has a similar issue.

CUDA version 2.3
System: Ubuntu 20.04
GPU: v100

It uses Int32 for indexing, is there some easy fix to this issue?

[2020-12-14 08:31] norci opened #599 "softmax has problem with dim parameter"
**Describe the bug**
softmax returns wrong result, seem like it does not use dim parameter

**To reproduce**
[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

**Additional context**

See https://github.com/FluxML/Flux.jl/issues/1425#issuecomment-744267106

[2020-12-14 14:47] maleadt commented on #598
CUBLAS does, so apart from doing dynamic checking of all array sizes and conditionally dispatching to fallback implementations (which we often don't have) this doesn't seem easy to fix.

[2020-12-14 14:59] denizyuret commented on #599
Hi, I already fixed this bug in the dy/cudnn branch (https://github.com/JuliaGPU/CUDA.jl/pull/523) -- please check cudnn related issues on that branch as well. There is a way to use cudnn softmax to compute the correct result for dims=2. Just give me a few more days to finish writing the tests before we can merge dy/cudnn.

[2020-12-14 16:23] denizyuret commented on #599
Not sure how to run NNlib's softmax -- in my version it calls CUDNN if the input is a CuArray.

[2020-12-15 05:31] denizyuret commented on #599
We can use the cudnn softmax to simulate nnlib softmax for dims 1, (;), and (partially) 2. There is not need for permutedims.

Please check out my implementation at https://github.com/denizyuret/CUDA.jl/blob/dy/cudnn/lib/cudnn/nnlib.jl

[2020-12-16 16:56] norci commented on #599
@denizyuret ,

Could you have a look at my PR https://github.com/JuliaGPU/CUDA.jl/pull/600#issuecomment-745150370
I have solved a problem in your branch.
that CUDNN can be used for Tensors with any dimensions, on any `dims`.

Thanks.

[2020-12-17 07:19] maleadt commented on #563
You're confusing UVA with UVM. I'm not talking about unified memory here, so there's no performance impact.

[2020-12-17 08:31] denizyuret commented on #599
@norci -- I have done some testing comparing cudnn vs manual implementation speeds. You can find my results [here](https://github.com/denizyuret/Knet.jl/blob/dy/cudnn/prof/softmax-cudnn.jl). Accordingly, cudnn only outperforms with dims=1. I have fixed the implementation in dy/cudnn branch [here](https://github.com/denizyuret/CUDA.jl/blob/ff71ad23cac5c236df3c46833358e5b1f1ae554a/lib/cudnn/nnlib.jl

[2020-12-17 08:45] maleadt opened #601 "CUDA 11.2"
Among the interesting new features:

[code]

[2020-12-17 11:16] norci commented on #599
@denizyuret ,

Thanks for your reply.

### I created a few test cases, similar to yours.
It's based on my branch https://github.com/norci/CUDA.jl/tree/fix_599
<details>
<summary>benchmark_softmax.jl</summary>
<pre>
using CUDA,NNlib,BenchmarkTools,Test

function _softmax!(y::T, x::T; dims) where {T <: DenseCuArray}
    y .= exp.(x .- maximum(x; dims))
    y ./= sum(y; dims)
end

x = CUDA.rand(1000,

[2020-12-17 13:39] denizyuret commented on #599
@norci — the main difference seems to be the size of the tests we use. By
far the most common use of softmax is at the end of a network for
classification. I used the typical imagenet size of 1000x256 (1000 for num
classes, 256 for batch size). Can you try with this setting?

What did you have in mind for a use case with 1000x1000x128?

On Thu, Dec 17, 2020 at 2:16 PM norci <notifications@github.c

[2020-12-17 13:58] denizyuret commented on #599
@norci:

Do you have something more specific? What function call, what parameter?

:) I have been working with CUDNN for a while now and I do not share your optimism. The library is full of bugs and inefficiencies and has been since the beginning. Currently there are many cases where simple Knet/CUDA code is faster than the "optimized" cudnn code, for example try:
[code]

[2020-12-17 14:16] denizyuret commented on #599
Your `softmax_helper` is very cool, completes my ad-hoc hack and will work with any single dimension. If we can determine the sizes/dims where cudnn has the advantage we should definitely use it. (We still need to figure out multi dimensional reductions, e.g. dims=(2,3) or dims=Colon())

Reasons I can think of for the differences in our test results other than array size:
* Please include `using K

[2020-12-17 14:33] maxfreu commented on #599
This comes up at the end of segmentation models.

[2020-12-18 15:20] btmit commented on #119
I apologize for disappearing on this. It's a busy time of the year.

From: https://docs.nvidia.com/cuda/cufft/index.html#advanced-data-layout

`istride`: Indicates the distance between two successive input elements in the least significant (i.e., innermost) dimension

`idist`: Indicates the distance between the first element of two consecutive signals in a batch of the input data

Let's take the e

[2020-12-18 15:37] norci commented on #599
@denizyuret ,
thanks for your advise.
I have benchmarked `softmax` again, with more sizes.

# code
https://pastebin.com/i3jCUzgj

# results

## 2D Tensor
### dims = 1
CUDNN is always faster
![benchmark_softmax_7](https://user-images.githubusercontent.com/2986988/102631033-45f56580-4188-11eb-8e86-34be1e72b1ab.png)

### dims = 2
The ratio depends on the size of the 2D Tensor.
Julia is faster in most

[2020-12-18 16:04] norci commented on #599
btw, I'm not able to use `Knet`. It seems Julia or cuda driver has a bug in Windows platform.
[code]

and TOT CUDA is not usable too
[code]

[2020-12-18 16:18] kburns commented on #119
My understanding (if this behaves similarly to FFTW) is that that would only do FFTs along the 2nd dimension in the plane corresponding to index 1 in the 1st dimension (the `istride` here is skipping over the other elements along the 1st dimension, and `idist` is essentially looping over indices in the 3rd dimension).  To apply an FFT along the 2nd dimension of the full array, you would have to do

[2020-12-18 16:31] maleadt commented on #599
CUDA#master requires Julia 1.6.

[2020-12-18 17:08] denizyuret commented on #599
And the compatible Knet is Knet#dy/cudnn (with julia 1.6)

Thanks for the experiments, I will repeat them on my platform and integrate
your changes into CUDA#dy/cudnn

On Fri, Dec 18, 2020 at 7:31 PM Tim Besard <notifications@github.com> wrote:

[2020-12-19 09:21] denizyuret commented on #599
@norci I generalized your dims trick to multiple (contiguous) dimensions and added an exception to use the backup implementation in the region where cudnn is slow.

https://github.com/denizyuret/CUDA.jl/blob/dbf4e0b4217d9ea63b6a731dd167839ad3613876/lib/cudnn/nnlib.jl#L83

[2020-12-19 22:14] sdewaele commented on #426
@lorrp1 The PR was merged into the master of StatsBase.

[2020-12-20 08:34] norci commented on #599
@denizyuret ,

I see. The design of `softmaxdims` is great!
Thanks for your update.

But I have a concern about the algorithm selector, maybe it's not optimal. So I benchmarked it with more sizes. and used a decision tree to get the optimal choice.

Shall we use this tree to select the best algo?
or keep existing code, and wait for Nvidia to fix this CUDNN bug?

# Details:

## code
https://pastebi

[2020-12-20 11:55] denizyuret commented on #599
@norci thanks for the experiments. They show the current hack is definitely not optimal. However I am not sure it is worth optimizing at the expense of complicating the code (I wasn't even sure if adding the current hack was a good idea) for a couple of reasons:
* This optimization will probably be specific to the current version of cudnn and will have to be revised.
* The case we are optimizing (

[2020-12-20 13:14] norci commented on #599
@denizyuret , I agree with you.

I have reported this performance issue to Nvidia, wish they will fix it.
I think CUDNN's softmax is focused at 2D & 3D image processing, so they assume the input data is batched.
This use case equals to a image with many dimensions, and batch is only 1. So there is no optimized kernel function.

[2020-12-21 17:19] simeonschaub opened #602 "similar(reinterpret(T, view(::CuArray, ...))) produces Array instead of CuArray"
It seems like this falls back to the generic implementation for `AbstractArrays` in `Base`, which always produces an `Array`:
[code]
I think returning a `CuArray` would make more sense here, so generic code can still run on the GPU.

This is using CUDA 2.3.0 on Julia 1.5.3

[2020-12-21 17:22] simeonschaub commented on #602
Alternatively, maybe this should be fixed upstream, so `similar(reinterpret(T, ::A), ...)` falls back to `similar(::A, T, ...)`?

[2020-12-23 15:27] qin-yu opened #603 "Bug in Initialisation Error"
**Describe the bug**

When Julia tries to throw an exception during CUDA.jl initialisation, because the variable for the exception is not defined, it will throw an irrelevant exception:
[code]

**Possible Fix**
See PR #604

**To reproduce**

__NOTE__: _the point of this issue is not to say that initialisation for CUDA.jl fails in some situations, but is to say that when it fails, the error is wron

[2020-12-23 15:54] qin-yu opened #605 "CUDA.jl initialisation fails after suspending Ubuntu 20.04 with CUDA 11.2"
**Describe the bug**

CUDA.jl initialisation fails after suspending Ubuntu 20.04 with CUDA 11.2

**Additional context**

You will see an irrelevant error:
[code]
this is described in #603 and fixed by #604

**To reproduce**

The Minimal Working Example (MWE) for this bug:

Launch Juno in Atom

[code]
To suspend the machine:
1. click the top-right of the screen
2. click `Power Off / Log Out`
3. cli

[2020-12-23 19:09] SomTambe opened #606 "unspecified launch failure (code 719, ERROR_LAUNCH_FAILED)"
I have been experimenting with CUDA.jl recently, and interestingly this is what happened today.
[code]
Now I try to make a simple kernel for vector addition.
[code]
At this point, I have not imported the Test.jl library. So this error is straightforward-
[code]
But now when I import Test.jl, this happens-
[code]
I tried to access the variables `x` and `y` but in vain.
[code]
When I tried initializ

[2020-12-23 23:28] lorrp1 commented on #426
Thanks I’m going to  check it

@sdewaele

[2020-12-24 07:27] alexkyllo opened #607 "CUDA 11.2 CUBLASError and "CUDA.jl does not yet support CUDA with nvdisasm 11.2.67""
**Describe the bug**

A clear and concise description of what the bug is.

I am using a fresh install of Ubuntu 20.04 with CUDA 11.2. The CUDA toolkit is installed and I can run the NVIDIA samples and compile CUDA code with nvcc successfully.

CUDA.jl does not work, though. If I use artifacts, it downloads and installs the CUDA 111 artifacts, then when I attempt to fit a model using Flux, I get th

[2020-12-26 21:31] mkarikom opened #609 "gemmEx on sm_52 results in CUBLAS_STATUS_ARCH_MISMATCH"
**Describe the bug**

Pkg.test("CUDA") cublas errors

**To reproduce**

[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

All tests should pass

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

# Output [install via Artifacts and run Pkg.test("CUDA")]:

[code]

[2020-12-27 12:32] ZenanH opened #610 "NVML-related segfault on Windows"
Previously my computer used `CUDA.jl` to download CUDA from artifacts, it was very convenient and I had no problems installing and using it. Recently for some reason `CUDA.jl` is not working, I cleaned everything and reinstalled `CUDA.jl`, but it still reports an error. Here is some information:

[code]

[code]

<br>

[code]

<br>

[code]

<br>

[code]

[2020-12-27 23:24] simeonschaub commented on #602
This should be fixed on Julia nightly, but would it be a good idea to try to fix this for `CuArrays` for older versions as well?

[2020-12-28 10:37] kadir-gunel opened #611 "This intrinsic must be compiled to be called"
Hello,

I have a flux model and when I take the gradients of the model by using Zygote I get ```  ERROR: this intrinsic must be compiled to be called ``` Below is tested only on GPU not on CPU.

For the mwe please use the following code :

[code]
When taking the gradients I get :

[code]

And with the suggestion of @simeonschaub  ``` Zygote.@adjoint CUDA.zeros(x...) = CUDA.zeros(x...), _ -> map(_

[2020-12-28 12:44] SimonDanisch opened #612 "OpenGL interop"
I see a few functions wrapped for GL interop, but I can't find e.g. `cuGraphicsGLRegisterBuffer`. Is this missing, or does this have different names in the Chaos of CUDA driver libraries? :D

[2020-12-28 12:48] kadir-gunel commented on #611
Some info about CUDA :

[code]

[2020-12-28 16:36] maxfreu opened #613 "Implement (bilinear) upsampling"
Hi! For all the DL libraries out there, as well as the image processing packages it would make sense to have GPU-powered upsampling (nearest, bilinear, cubic), including their derivatives. Being able to do this in any number of dimensions would be nice of course, but I think 2D would do it to get going finally. From the Flux side the issue is tackled in [this](https://github.com/FluxML/Flux.jl/pul

[2020-12-30 23:07] david-macmahon opened #614 "Add support for CuFFT callback functions"
CuFFT supports callback functions (which must be device functions) so the user can hook into the loading and storing of data points to perform customization or other functionality.  The `cufftXtSetCallback()` function is called to "register" user callback functions with CuFFT, but it is not exposed by CUDA.jl.  It would be fairly easy to wrap this (and related) CuFFT function(s), but it's not clea

[2020-12-31 21:26] ixjf commented on #610
I have the same problem. Windows 10 build 19041.685, same GeForce driver version, same Julia release.

EDIT: I should note that CUDA.jl works all the same. It's just versioninfo() that crashes.

[2021-01-01 16:57] rveltz opened #615 "I can’t multiply a CSR sparse matrix anymore"
**Sanity checks (read this first, then remove this section)**

- [ ] Always ensure you're using the latest version of CUDA.jl, and if possible, please
  check the master branch to see if your issue hasn't been resolved yet.

If your bug is still valid, please go ahead and fill out the template below.

**Describe the bug**

Hi,

I was asked on slack to open an issue. I can’t multiply a CSR sparse m

[2021-01-01 19:33] mkarikom opened #616 "cusolver errors during `]test CUDA`"
[code]

**To reproduce**
[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

all tests should pass

**Version info**

Details on Julia:

[code]

Details on CUDA:

[code]

**Additional context**

Add any other context about the problem here.

[2021-01-03 17:54] jfimbett opened #619 "Julia version requirement"
Hello

I am not able to install the latest version of CUDA.jl since the Project.toml says the package is only compatible with Julia 1.6 but as far as I know by January 2021 the latest version out there is 1.5.3.

I apologize if Im missing something, Im receiving the following message

`julia version requirement for package `CUDA [052768ef]` not satisfied`

I can always download the package and ove

[2021-01-04 08:15] maleadt commented on #619
The latest version of CUDA does support 1.5, https://github.com/JuliaGPU/CUDA.jl/blob/e06704da5b3e804249f8a11834b5e311e56d59e4/Project.toml#L44, only the master branch required 1.6. If you do an `add` the resolver should select a compatible version, and never use the master branch unless you've specifically requested it to.

[2021-01-04 08:15] #619 closed, assigned to nobody

[2021-01-04 14:40] maleadt commented on #611
That's a Zygote error, you're probably differentiating code that isn't supported (like the `ccall` to the CUDA driver here). I recommend you open a Discourse post, and if it turns out to be a bug, an issue on e.g. Flux or Zygote.jl.

[2021-01-04 14:40] #611 closed, assigned to nobody

[2021-01-04 14:46] maleadt commented on #613
Looks good. `atomic_add!` and `pointer` operations can be avoided by using `@atomic`. And I assume it wouldn't be just the kernel that's added to CUDA.jl, but more specifically an implementation of an NNlib interface. If that's the case, CUDA.jl is a good place to implement that interface.

[2021-01-04 15:17] maleadt commented on #612
Good catch, looks like we aren't wrapping `cudaGL.h`. I'll have a look.

[2021-01-04 16:28] maleadt commented on #605
Error 999 is your driver being messed up. Nothing we can do about that.

[2021-01-04 16:28] #605 closed, assigned to nobody

[2021-01-04 17:13] qin-yu commented on #605
Ah I forgot to close this issue. I started to manage multiple CUDA environments when I tried to play with CUDA.jl, so I deleted the lines that add paths automatically. Somehow before I suspend the system Julia can find the path, but not after.

[2021-01-04 17:58] #603 closed, assigned to nobody

[2021-01-04 20:22] #607 closed, assigned to nobody

[2021-01-04 20:53] #612 closed, assigned to nobody

[2021-01-05 10:58] maleadt commented on #609
Can you run the CUBLAS tests with `JULIA_DEBUG=CUBLAS`? For example, using:
[code]

This will generate a lot of output.

[2021-01-05 11:23] maleadt commented on #606
If `@test` is not defined you will not evaluate the expression, so this is expected.

It's just a property of CUDA that errors are stick and require a restart of the process.

Are you sure that's the only code you executed to trigger the ERROR_LAUNCH_FAILED? Either way, you're not using the GPU the way you should: instead of a for loop, process a single iteration based on the thread index and laun

[2021-01-05 11:25] maleadt commented on #614
Dup of https://github.com/JuliaGPU/CUDA.jl/issues/75. I haven't seriously looked at it since then. How important of a feature is this?

[2021-01-05 11:25] #614 closed, assigned to nobody

[2021-01-05 11:26] maleadt commented on #615
Did you test on CUDA#master with Julia 1.6 as the bug filing template suggests?

[2021-01-05 11:55] rveltz commented on #615
No, it is on a cluster and I dont control everything (quickly).

[2021-01-05 11:57] maleadt commented on #602
We don't use ReinterpretArray anymore after https://github.com/JuliaGPU/CUDA.jl/pull/498, could you verify this works on master as expected?

[2021-01-05 12:01] maleadt commented on #602
So this works with contiguous reinterpred views

[code]

[2021-01-05 12:03] maleadt commented on #615
Quickly downloading Julia 1.6 and installing CUDA.jl doesn't seem like that much effort.

This works on #master:
[code]

Do note however that coverage of CUSPARSE is still not perfect, so feel free to open more issues or create PRs if anything else fails.

[2021-01-05 12:03] #615 closed, assigned to nobody

[2021-01-06 10:55] maleadt commented on #594
`unsafe_free` is fast:

[code]

The problem here is that your buffers fall beyond the `MAX_POOL` threshold, which means they immediately get freed:

[code]

[code]

The split pool doesn't suffer from this, but has other issues.

[2021-01-06 20:28] mkarikom commented on #609
Thanks @maleadt, please see attached for outputs from the 980ti and 3090.
I redirected the output to a file, but after generating a lot of output it appeared to hang, so I killed it manually.
Please let me know if there is anything missing.

[output980.txt](https://github.com/JuliaGPU/CUDA.jl/files/5778047/output980.txt)
[output3090.txt](https://github.com/JuliaGPU/CUDA.jl/files/5778048/output3090

[2021-01-07 09:20] maleadt commented on #67
https://discourse.julialang.org/t/is-there-a-way-to-modify-captured-variables-in-a-closure/31213/12

[code]

[code]

:exploding_head:

Although I guess this would break calling custom objects where the typevars don't match up with the fields. @vchuravy, are you doing anything like that?

[2021-01-08 09:37] david-macmahon commented on #75
In reply to your question in #614 about how important this feature is, I think the answer is that it very important in certain circumstances.  For example, we currently use CuFFT callbacks in a CUDA C program that performs long FFTs of 8-bit signed integer data (equivalent to `Complex{Int8}`) and then produce integrated power spectra.  Callbacks are used on both inputs and outputs.
### Input callb

[2021-01-08 09:49] maleadt commented on #75
I was having another look at the documentation, and:

so that's a problem in itself. Or maybe that only applies to the helper routines, as `cufftXtSetCallback` is available in `libcufft.so` (we just haven't wrapped `cufftXt.h` -- not sure when and how the Xt functionality is available exactly).

[2021-01-08 09:55] maleadt commented on #75
From https://webcache.googleusercontent.com/search?q=cache:RuVLoPCjAx4J:https://quabr.com/40565350/can-i-use-nvrtc-to-compile-cufft-callback-functions-that-use-compiler-generated+&cd=1&hl=en&ct=clnk&gl=be&client=firefox-b-d:

[code]

We have all of that, so it should be possible.

[2021-01-08 10:02] david-macmahon commented on #75
Wow, yeah, that could be a show stopper.  I checked my C program that uses CuFFT callbacks and it looks like it does statically link the CuFFT library.  I'll try to build it with dynamically linking to the CuFFT library to see if that works.

[2021-01-08 10:06] maleadt commented on #75
I'm also not sure how to look up the function pointer of a kernel, `cuModuleGetGlobal` doesn't seem to work:

[code]

We could always emit a global datastructure that points to the functions in the module, a la https://forums.developer.nvidia.com/t/how-can-i-use-device-function-pointer-in-cuda/14405/18, but that seems cumbersome.

EDIT: looks like in C too you need to assign the device function to

[2021-01-08 10:20] david-macmahon commented on #75
I don't know that much about the Driver API's module handling, but does `CuGlobal()` end up calling `cuModuleGetGlobal()`?  Not sure how that differs from `cuModuleGetFunction()`.

FWIW, the C program I use is [available here](https://github.com/UCBerkeleySETI/rawspec).  It uses the runtime API and the callback functions are defined as `__device__` functions and then the device function pointers c

[2021-01-08 10:23] maleadt commented on #75
`cuModuleGetFunction` only works for kernels, not for device functions.

Looks like we'll need to emit something like:

[code]

[code]

[2021-01-08 10:29] david-macmahon commented on #75
I noticed the sample you linked to also uses `cudaMemcpyFromSymbol()`.  I also noticed its `Makefile` has:
[code]
so it too is using the statically linked CuFFT library.

[2021-01-08 10:55] maleadt commented on #75
[code]

That `0x1` doesn't look right...

[2021-01-08 11:22] maleadt commented on #75
Actually, it looks like `cudaMemcpyFromSymbol` yields the same value:

[code]

[code]

[2021-01-08 13:13] simeonschaub commented on #602
Awesome thanks! Works for me now.

[2021-01-08 13:13] #602 closed, assigned to nobody

[2021-01-08 14:04] finmod opened #627 "CUDA.jl version and CUDA capability 3 or 5"
The docs does not list the older versions of CUDA.jl that should be installed for use with QUADRO architecture.

Specifically, witch CUDAver should be used with QUADRO GPU and CUDA toolkit 10.1?

[2021-01-08 14:34] maleadt commented on #627
Please use Discourse for questions, this is an issue tracker.

CUDA v1.x supports compute capability below 5. But that doesn't have anything to do with a quadro GPU per se, I have a quadro with capability sm_75.

[2021-01-08 14:34] #627 closed, assigned to nobody

[2021-01-08 22:11] navidcy opened #629 "Update Reexport compat"
Reexport v1.0.0 was released. Should we consider updating project's compat?
https://github.com/JuliaGPU/CUDA.jl/blob/bfb5d734566e0758493716bec78f6616d64d745c/Project.toml#L42

[2021-01-10 00:17] CarloLucibello commented on #592
@maleadt would you take a fix to this for backporting on the julia 1.5 compatible branch? This unless #523 is meant to be backported

[2021-01-10 07:54] leofang commented on #75
@maleadt I don't know any Julia folks here or how Julia works at all (I would love to!), but I found this issue via Google and I'd really to save you the trouble since this feature took me over a year (even with a couple of NVIDIA power guys' help!) to understand and implement. I finally made it work in CuPy, but it was awfully ugly. In short:
- You have to link to `libcufft_static.a`, not `libcuf

[2021-01-11 09:31] maleadt commented on #75
@leofang Thanks for chiming in! It's a real bummer though. In Julia/CUDA.jl, we actually ship CUDA libraries and don't assume `nvcc` or even a host toolchain is available, so dynamically compiling a library that contains both the callbacks and a statically-linked cuFFT isn't a viable option (without a lot of work). :disappointed:

[2021-01-11 09:54] maleadt commented on #592
Sure. The new CUDNN interface is unlikely to be backported.

[2021-01-11 10:19] maleadt commented on #629
Fixed by https://github.com/JuliaGPU/CUDA.jl/pull/633.

[2021-01-11 10:19] #629 closed, assigned to nobody

[2021-01-11 11:07] denizyuret commented on #592
@maleadt -- I don't think there is much backport work to do for the new cudnn interface, if you let me know what branch, I can check to make sure everything works for 1.5.

[2021-01-11 11:39] maleadt commented on #592
The branch is called `compat`, I'll make a PR with the CUDNN changes for you and e.g. @DhairyaLGandhi or @CarloLucibello to verify works properly.

[2021-01-11 11:46] DhairyaLGandhi commented on #592
Thanks, that's helpful

[2021-01-11 14:27] #67 closed, assigned to nobody

[2021-01-11 18:36] qin-yu commented on #601
I'm trying to add and use these in Julia but firstly I want to check `cudaDevAttrMemoryPoolsSupported`. It turns out `cudaDeviceAttr` doesn't have it. If we are updating `/src/device/intrinsics/libcudadevrt_common.jl`, should someone use Clang.jl to update the whole file or can I just add the missing ones to `cudaDeviceAttr` (because it is "manually cherry-picked from the generated wrappers" anywa

[2021-01-11 20:18] maleadt commented on #601
As I mentioned on Slack, don't look at `/src/device/intrinsics/libcudadevrt_common.jl`. That's a minimal device runtime for on-device usage, nothing like the regular API calls I assume you're trying to perform on the host. For those, look at `/lib/cudadrv/libcuda_common.jl`. Those are generated using the tools from `/res/wrap` -- last I did so was for CUDA 11.0, so regenerating those should give y

[2021-01-11 21:01] qin-yu opened #637 "Incomplete CUDA device attributes list"
Need to check `cudaDevAttrMemoryPoolsSupported` for new features (e.g. `cudaMallocAsync`) in CUDA Toolkit 11.2.

[2021-01-11 21:03] #637 closed, assigned to nobody

[2021-01-11 21:25] qin-yu commented on #601
Ahh sorry I didn't see your reply so I created issue #637, I just closed it but then realised I still need to generate them. I'll check out `/res/wrap`, thanks!

gotcha!

[2021-01-12 04:17] leofang commented on #75
Hi @maleadt, yes we usually don't assume that either, but for cuFFT callbacks a local CUDA Toolkit has to be there unfortunately...

Let me take this opportunity and get to know CUDA.jl a bit more: If a user has a CUDA Toolkit installation locally, can he/she build and use CUDA.jl against that? This was our assumption (we have HPC people asking for this feature, and usually this condition is satis

[2021-01-12 11:45] maleadt commented on #75
Yes, by setting the `JULIA_CUDA_USE_BINARYBUILDER` environment variable to `false`. By default, we download CUDA ourselves, because users are pretty bad at making sure their toolkit matches the CUDA support level of their driver. In the future, we'll probably use a more integrated feature (like [Overrides](https://julialang.github.io/Pkg.jl/v1/artifacts/#Overriding-artifact-locations)), but this'l

[2021-01-12 17:14] david-macmahon commented on #75
In the interest of completeness I linked my program that uses CuFFT callbacks with the dynamic CuFFT library.  Not surprisingly, it linked OK but at runtime the `cufftXtSetCallback()` function returned a `CUFFT_NOT_IMPLEMENTED` error.

[2021-01-12 22:28] chengchingwen opened #643 "@cuda with config keyword sometimes allocate lots of memory"
I ran into this problem when  writing vectorized memory access kernel with `SIMD.jl@v3.2.1`. The code run normally when executing the kernel with regular `blocks` and `threads` keyword, but when I use the `config=configurator`  keyword argument with that kernel, the allocated memory grew from ~400 bytes to ~3 KiB. However this only happened on some specific kernel, I can't find the exact factor th

[2021-01-12 22:36] DilumAluthge opened #644 "Can someone with push access run the TagBot workflow?"
Now that https://github.com/JuliaRegistries/General/pull/27876 has been merged, can someone with push access go to https://github.com/JuliaGPU/CUDA.jl/actions?query=workflow%3ATagBot and manually run a new `workflow_dispatch` TagBot run?

Normally, this would happen automatically. But since I made https://github.com/JuliaRegistries/General/pull/27876 manually (instead of using Registrator), I don'

[2021-01-13 02:00] vchuravy commented on #644
Triggered https://github.com/JuliaGPU/CUDA.jl/actions/runs/481700131

[2021-01-13 02:12] DilumAluthge commented on #644
Try it again? The first time failed with a GitHub server error.

[2021-01-13 02:19] DilumAluthge commented on #644
Thanks!

https://github.com/JuliaGPU/CUDA.jl/releases/tag/v2.5.0

[2021-01-13 02:19] #644 closed, assigned to nobody

[2021-01-13 07:01] #610 closed, assigned to nobody

[2021-01-13 07:56] maleadt commented on #643
Can't reproduce. Which versions of CUDA.jl are you using? I recently added a deprecation warning to the `config=` path, there's a new way of doing so:

[code]

[2021-01-13 08:22] chengchingwen commented on #643
I'm using CUDA@v2.4.0

[2021-01-13 08:41] maleadt commented on #643
That version has the deprecation; please try the suggested alternative.

[2021-01-13 08:55] chengchingwen commented on #643
Looks good with the new one. It's still larger, but I guess it's the overhead of `launch_configuration`?

[code]

[2021-01-13 08:58] maleadt commented on #609
Those logs don't actually contain any test results, they seem to have hung as you describe. Can you try the following instead (you may have to install some of the dependencies here):

[code]

[2021-01-13 09:24] maleadt commented on #643
Some overhead is to be expected, but it's way smaller when I test locally. Probably related to 1.6, where we can do inline allocations.

[2021-01-13 09:26] chengchingwen commented on #643
Got it, thanks!

[2021-01-13 09:27] #643 closed, assigned to nobody

[2021-01-15 19:23] mkarikom commented on #609
ok, thanks.  gpu is tied up right now but ill try to post these in a day or so

[2021-01-16 08:10] jonas-eschmann opened #657 "Taking gradient with Flux results in NaNs when using CUDA arrays but not when using CPU arrays"
I am working on a reinforcement learning project using Flux.jl and CUDA.jl. When running one of my experiments, after several million steps `NaN`s pop up and propagate everywhere. I tracked down the issue to occur in a gradient calculation involving Flux and CUDA. After tracking down the source I made a run where I checked for `NaN`s and dumped the participating datastructures into a `.bson` to be

[2021-01-17 04:46] leofang commented on #75
Hi @maleadt @david-macmahon Sorry I dropped the ball. Had a rough week 😞

Oh wow. Yes, I agree this is always a big common pitfall.

I wonder how JuliaGPU resolved the license issue, though. Do you get some kind of special permission from NVIDIA? We wanted to do similar things too, mainly because there're some device function headers (such as those for cuRAND device routines) that come with CUDA T

[2021-01-17 14:17] torfjelde opened #658 "Broadcasting fails in a special case"
**Describe the bug**

I'd like to run broadcast the following method on GPU:

[code]
but it fails, complaining with `FATAL ERROR: Symbol "__nv_tanf"not found`. Seems like it's executing a `CUDA` method on CPU-data?

**To reproduce**

I've added the output of `@code_warntype` as it seems like it's an issue with type-inference that only happens on the GPU version.

[code]

Note that there is no type

[2021-01-17 15:31] darsnack opened #659 "argmax (i.e. findmax) fails with Bool arrays"
**Describe the bug**

`argmax(x)` fails when `x isa CuArray{Bool}`. It does not error if `x isa CuArray{Float32}` of 1s/0s.

**To reproduce**

[code]

<details><summary>Manifest.toml</summary>
<p>

[code]

</p>
</details>

**Expected behavior**

`argmax(x)` doesn't error for `CuArray{Bool}`.

**Version info**

Details on Julia: 1.5.3

[code]

Details on CUDA:

[code]

**Additional context**

This

[2021-01-18 07:28] maleadt commented on #609
And FWIW, after https://github.com/JuliaGPU/CUDA.jl/pull/649 it should now also be possible to run the entire CUBLAS test suite under `JULIA_DEBUG`, so you can pick either approach.

[2021-01-18 07:33] maleadt commented on #659
That min in that kernel refers to https://github.com/JuliaGPU/CUDA.jl/blob/0679e2feba777ac54299c1fbd693263186bead53/src/device/intrinsics/math.jl#L238-L243, which doesn't have a method for Bool inputs. You could try and add one for now, although that will be fixed once we have contextual dispatch. But that's still some time off.

[2021-01-18 07:48] maleadt commented on #75
Most of the stuff we need falls under the redistribution license, but yeah for the rest we got in touch with NVIDIA.

Thanks! Yes, we use LLVM for the compilation to PTX. NVVM isn't really usable; even on CUDA 11.2 it only supports LLVM 7.0's IR, whereas the upcoming Julia 1.6 is using LLVM 11. But worse, we want to support a variety of CUDA drivers and consequently CUDA toolkits, which means we'd